{% extends 'base.html' %}

{% block title %}Partnership Application{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Partnership Application Already Submitted</h1>
            <h2>We already have received a partnership application from you.</h2>
        </div>
    </div>
{% endblock %}