{% extends 'base.html' %}
{% load honeypot %}

{% block title %}Apply to become Technology partner in cloud services{% endblock %}
{% block meta_description %}Become technology partner at Skyhigh Networks by sharing your complementary technology which can help our joint customers accelerate their success.{% endblock %}

{% block content %}
    <div class="section">
        <div class="container form form_full_site">
            <h1>Technology Partner Application</h1>
            <h2>Skyhigh integrates with leading cloud services. If you have complementary technology and want to find ways to help our joint customers accelerate their success, we’d love to talk to you today.  Please enter your details in the form below.</h2>
            <div class="content">
                <div class="column">
                    <div class="marketo_embed_wider"><iframe width="822" height="450" frameborder="0" style="margin: -45px 0 -120px -120px" scrolling="no" src="http://info.skyhighnetworks.com/TechPartnerRegistration_RegistrationPage.html"></iframe></div>
                    <div class="clear"></div>
{% comment %}
                    <form id="frmTechnologyPartner" action="." method="POST" class="validate_form">{% csrf_token %}
                    	{{ form.search_string }}
                    	{{ form.search_engine }}
                    	{{ form.pay_per_click_keyword }}
                        <div class="note">Fields marked with <span class="blue">*</span> are required</div>
                        <div class="row">
                            <div class="field field-half">
                                <label for="id_first_name">First Name <span class="blue">*</span></label>
                                {{ form.first_name }}{{ form.first_name.errors }}
                            </div>
                            <div class="field field-half align-right">
                                <label for="id_last_name">Last Name <span class="blue">*</span></label>
                                {{ form.last_name }}{{ form.last_name.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field-half">
                                <label for="id_email">Work Email Address <span class="blue">*</span></label>
                                {{ form.email }}{{ form.email.errors }}
                            </div>
                            <div class="field field-half align-right">
                                <label for="id_company">Company <span class="blue">*</span></label>
                                {{ form.company }}{{ form.company.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field-half">
                                <label for="id_job_title">Job Title <span class="blue">*</span></label>
                                {{ form.job_title }}{{ form.job_title.errors }}
                            </div>
                            <div class="field field-half align-right">
                                <label for="id_phone_number">Phone Number</label>
                                {{ form.phone_number }}{{ form.phone_number.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field-half">
                                <label for="id_url">Company URL</label>
                                {{ form.url }}{{ form.url.errors }}
                            </div>
                            <div class="field field-half align-right">
                                <label for="id_type_of_technology_selling">Type of Technology you sell</label>
                                {{ form.type_of_technology_selling }}{{ form.type_of_technology_selling.errors }}
                            </div>
                        </div>
                        <div class="row">
                            <div class="field field-half">
                                <label for="id_leading_competitors">Leading Competitors</label>
                                {{ form.leading_competitors }}{{ form.leading_competitors.errors }}
                            </div>
                            <div class="field field-half align-right">
                                <label for="id_business_type">Business Type</label>
                                {{ form.business_type }}{{ form.business_type.errors }}
                            </div>
                        </div>
                        {% render_honeypot_field %}
                        <div class="buttons">
                            <input type="submit" value="Send Application" />
                            {% if not user.is_authenticated %}
                                <p>Already have a Skyhigh account? <a href="{% url login %}">Sign In</a></p>
                            {% endif %}
                        </div>
                    </form>
{% endcomment %}
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
	{% include 'includes/ga_remarketing_scripts.html' %}
{% endblock %}