{% extends 'skyhigh/console/base.html' %}

{% block title %}Evaluators{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Evaluator</h1>
            <a href="{% url console_usage_evaluator_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="content">
                <table>
                    <tr>
                        <th width="80">Evaluator</th>
                        <td><a href="{% url console_usage_evaluator_detail object.pk %}">{{ object.first_name }} {{ object.last_name }}</a></td>
                    </tr>
                    <tr>
                        <th width="120">Email</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th width="120">Role</th>
                        <td>{{ object.get_role_display }}</td>
                    </tr>
                    <tr>
                        <th width="120">Login Date</th>
                        <td>{{ object.last_login }}</td>
                    </tr>
                    <tr>
                        <th width="60"></th>
                        <td><a href="{% url console_usage_evaluator_update object.pk %}" class="link btn btn-edit">Edit</a> &nbsp; <a href="{% url console_usage_evaluator_delete object.pk %}" class="link btn_light btn-delete">Delete</a></td>
                    </tr>
                </table>
                
                {% include 'skyhigh/console/includes/evaluation_log_file_sample.html' %}
            </div><!--/content-->
            <div class="clear"></div><br/>
            {% include 'skyhigh/console/includes/user_sftp_accounts_tab.html' %}
        </div>
    </div>
{% endblock %}