{% extends 'base.html' %}

{% block title %}Cloud Compliance | Skyhigh Networks{% endblock %}
{% block meta_description %}Skyhigh's cloud compliance capabilities show you areas of potential risk with cloud services, so you can take action.{% endblock %}
{% block meta_keywords %}cloud compliance{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Cloud Governance</h1>
        <div class="content">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_bottom"></div>
                {% include 'includes/sidebar_product_solutions_compliance.html' %}
            </div>
            <div class="column">
                <p>Skyhigh's cloud compliance capabilities show you areas of potential risk with cloud services so you're prepared to take action to block the riskiest services while securing others with encryption and data loss prevention. These actions help satisfy a wide range of regulations governing personally identifiable information (PII) and personal health information (PHI) including PCI, HIPAA, and HITECH.</p>

                <br />

                <div class="listing">
                    <h3>Understand your cloud compliance gaps</h3>
                    <p>Are your employees reading terms of use before clicking "accept"? Skyhigh provides an objective, independent cloud compliance assessment.</p>
                    <ul>
                        <li>Understand legal risk hidden in terms and conditions</li>
                        <li>Compare the compliance certifications of all cloud services</li>
                        <li>Stay up-to-date as the risk of your cloud services changes over time</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Enforce compliance policies</h3>
                    <p>Take control and apply your policies consistently. Skyhigh lets you manage who has access to what data using what devices and where.</p>
                    <ul>
                        <li>Block access to cloud services with high compliance risk</li>
                        <li>Control access to cloud data by device type, user, and geographic location</li>
                        <li>Stop breaches of confidential or protected data before they happen</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Real-time incident response</h3>
                    <p>When there's a data breach minutes and hours matter. Get real-time alerts of activity that indicates a possible breach so you can respond immediately.</p>
                    <ul>
                        <li>Receive alerts about anomalous use</li>
                        <li>Track events like views and downloads of data in the cloud</li>
                        <li>Leverage anomalous event thresholds based on actual usage</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Compliance starts with understanding your cloud risk</h3>
                    <p>The first step to addressing what you need to do to stay compliant as data moves to the cloud is understanding where you are today.  With Skyhigh you gain visibility into the real scope of unapproved or "shadow IT" cloud projects at your company – often 10 times larger than what's known by IT. Once you understand your risk you can use Skyhigh's tools to apply your compliance policies across cloud services.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div><!--/content-->
    </div>
</div>
{% endblock %}