{% extends 'base.html' %}

{% block title %}Cloud Governance | Skyhigh Networks{% endblock %}
{% block meta_description %}Cloud governance solutions from Skyhigh empower you to take unmanaged cloud services under the umbrella of your corporate policies.{% endblock %}
{% block meta_keywords %}cloud governance{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Cloud Governance</h1>
        <div class="content">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_bottom"></div>
                {% include 'includes/sidebar_product_solutions_security.html' %}
            </div>
            <div class="column">
                <p>You have policies for who can access data on your corporate network. In the cloud these policies haven't had any teeth – until now. Cloud governance solutions from Skyhigh empower you to take unmanaged cloud services under the umbrella of your corporate policies. With tools in place for the business to achieve its goals, IT becomes an enabler of the cloud and not a hindrance.</p>

                <br />

                <div class="listing">
                    <h3>Allow or deny access via policy</h3>
                    <p>Take your policies for data access and apply them to wherever your data goes in the cloud. Skyhigh allows you to control access based on appropriate context.</p>
                    <ul>
                        <li>Leverage user information from LDAP directories</li>
                        <li>Control access based on context: device type, user, and geographic location</li>
                        <li>Allow access to only registered devices</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Centralized policy management</h3>
                    <p>Cloud services don't always provide the level of auditing you've come to expect from on-premise applications. Skyhigh audits events to help achieve cloud governance.</p>
                    <ul>
                        <li>Audit all actions performed including downloads and views</li>
                        <li>Actively monitor for security breaches</li>
                        <li>Receive instantaneous alerts of anomalous events</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>You control your data</h3>
                    <p>You need to maintain ownership over your data in the cloud. Skyhigh reveals data risks and provides tools to encrypt and take back control of data.</p>
                    <ul>
                        <li>Shine light on the risks contained within terms and conditions</li>
                        <li>Apply encryption to prevent unauthorized access</li>
                        <li>Maintain control over encryption keys</li>
                    </ul>
                </div>
            </div>
            <div class="clear"></div>
        </div><!--/content-->
    </div>
</div>
{% endblock %}