{% extends 'base.html' %}

{% block title %}Cloud Encryption | Skyhigh Networks{% endblock %}
{% block meta_description %}Skyhigh Cloud Encryption provides an additional layer of security for your corporate data, wherever it goes in the cloud.{% endblock %}
{% block meta_keywords %}cloud encryption{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Cloud Encryption</h1>
        <div class="content">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_bottom"></div>
                {% include 'includes/sidebar_product_solutions_encryption.html' %}
            </div>
            <div class="column">
                <p>Skyhigh's cloud encryption provides an additional layer of security for your corporate data wherever it goes in the cloud. As your data moves to and from services like Salesforce, Box, and Evernote, Skyhigh applies cloud encryption that persists even when the data is at rest. Your employees get to keep the user experience they love while the company's information is protected.</p>

                <br />

                <div class="listing">
                    <h3>Protect data from security breaches</h3>
                    <p>Some cloud services are more secure than others. With Skyhigh's cloud encryption, your data is never at risk even if there's a security breach.</p>
                    <ul>
                        <li>Apply AES 256-bit encryption to structured and unstructured data</li>
                        <li>Protect data at rest and in transit</li>
                        <li>Maintain encryption keys for complete control</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Secure popular SaaS applications</h3>
                    <p>Whether your employees store customer information on Amazon AWS or medical records on Dropbox, turn your "cloud problem" around by locking down your data.</p>
                    <ul>
                        <li>Encrypt data no matter how or where it's uploaded</li>
                        <li>Augment the encryption built-in to cloud services</li>
                        <li>Resolve the #1 issue holding back cloud projects</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Delight end users with the cloud experience they love</h3>
                    <p>Don't mess with the features that employees rely on do their jobs. When your users login they'll see everything the way it's supposed to look.</p>
                    <ul>
                        <li>Allow direct cloud access without VPN or agent installs</li>
                        <li>Maintain search and sorting functionality within cloud applications</li>
                        <li>Encrypt data for desktop and mobile users</li>
                    </ul>
                </div>
                <div class="listing">
                    <h3>Encryption works with an integrated set of tools</h3>
                    <p>Skyhigh's CloudFlow Encryption is integrated with a suite of security tools including data loss prevention. DLP allows you to limit encryption to personally identifiable information (PII) such as credit cards and social security numbers. Skyhigh also lets you enforce encryption on just part of an application such as a specific folder.</p>
                </div>
            </div>
            <div class="clear"></div>
        </div><!--/content-->
    </div>
</div>
{% endblock %}