{% extends 'base.html' %}

{% block title %}Case Study - Equinix - Skyhigh Networks{% endblock %}
{% block meta_description %}Learn how Equinix, Inc, the largest data center operator, discovered the true scope of its cloud services footprint by leveraging Skyhigh Networks’ Cloud Services Manager{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Customer Case Study: Equinix Safeguards<br /> Employee Use of Cloud Services</h1>
        <div class="content">
            <div class="sidebar">
                <div class="sidebar_top"></div>
                <div class="sidebar_bottom"></div>
                {% include 'includes/sidebar_customers.html' %}
            </div>
            <div class="column">
                <div class="listing no-marg-bottom no-bord">
                    <img src="{{ STATIC_URL }}skyhigh/img/case_equinix_detail.png" class="image_third shadow" />
                    <p>
                        <strong>Name:</strong>    Equinix, Inc<br />
                        <strong>Location:</strong>   Redwood City, California<br />
                        <strong>Size:</strong>    2700+ employees, 2012 revenues of over $2 billion<br />
                        <strong>Description:</strong>   The world’s largest data center operator and a provider of direct connection services to   over 4,000 customers, Equinix is the “Home of the Internet”
                    </p>
                </div>
                <div class="listing">
                    <h3>Challenge:</h3>
                    <div class="quote_right">We knew employees were using a lot of services and we didn’t want to stop them from using any legitimate tools but...</div>
                    <p>As a company, Equinix has embraced the new generation of cloud services and allowed employees to adopt online tools quickly and easily to perform their jobs as efficiently as possible. However, company global information security officer, George Do, had begun to grow concerned that he had no visibility into exactly which cloud services were being used by his employees. “We knew employees were using a lot of services and we didn’t want to stop them from using any legitimate tools but we needed a better understanding of what was happening,” says Do.</p>
                    <p>What’s more, the process of approving new cloud services for use by employees required roughly 30 man-hours of due diligence by Do’s staff of three security experts. “It was very taxing for a small staff like ours,” says Do. This process involved direct calls to CTOs of cloud services companies as well as significant manual one-off efforts to verify security practices and risk factors. To discover cloud services that had not been declared by employees but represented risks, Do’s team had to pore over reams of log files because existing tools for managing log files focused more on cyber attack risks and less on cloud services risks. Do wanted a tool that would:</p>
                    <ul>
                        <li>Discover and identify all cloud services in use by Equinix employees including file sharing, collaboration tools, IaaS, CRM and others</li>
                        <li>Reduce the time and cost of vetting new and existing cloud services</li>
                        <li>Provide anomaly detection to spot behaviors that likely indicated data leakage</li>
                        <li>Allow Equinix to control access to cloud services and limit access to services deemed to present serious security, legal or compliance risks</li>
                    </ul>
                    <h3>Solution:</h3>
                    <div class="quote_left">I had expected a good amount, but the sheer diversity of services was surprising to me...</div>
                    <p>Equinix subscribed to Skyhigh Networks’ Cloud Services Manager to discover the true scope of its cloud services footprint and make the lengthy approval process for new cloud services more efficient. Do’s team collected data for network traffic from firewalls and proxies and uploaded it to Skyhigh Networks CloudRegistry&trade; discovery and analytics engine. Within minutes, Skyhigh discovered more than 200 cloud services in use, including many that Do had not been  aware were in use or even existed.  “I had expected a good amount, but the sheer diversity of services was surprising to me,” says Do. “Many services I would not have expected showed up in the analysis, including some that we decided we needed to add because they filled a legitimate need we had not foreseen.”</p>
                    <div class="quote_right">It has allowed my team to become far more efficient, and I love the fact that Skyhigh continually updates its ratings...</div>
                    <p>Additionally, Do’s team received specific risk ratings for each service generated by Skyhigh Network’s CloudRisk&trade;, which takes into account more than 30 risk factors in calculating a simple 1-to-10 rating (1 being least risk and 10 being riskiest). “Having those ratings from a source we can trust means we can cut down time spent onboarding a new cloud service to 3-4 hours,” says Do. “It has allowed my team to become far more efficient, and I love the fact that Skyhigh continually updates its ratings because we would never have time to go back<br />and regularly check up on approved services.”</p>
                    <p>To spot anomalous behaviors that might indicate data leakage or ongoing security problems, Do had been examining a combined, bespoke solution of several pieces of software that would analyze log files and then set new proxy and firewall rules. Skyhigh Networks’ CloudAnomaly&trade; analyzer, which uses Big Data to fingerprint and highlight potential bad behavior, allowing Do to simplify the whole process.</p>
                    <p>With Skyhigh Networks Do was able to:</p>
                    <ul>
                        <li>Discover all cloud services  used by Equinix employees</li>
                        <li>Rate the risks posed by each service in a far more efficient, process-driven manner</li>
                        <li>Reduce by 10x the manhours required to approve a new cloud service</li>
                        <li>Identify several classes of popular services that he had not realized his users needed and which could be brought into the approval process</li>
                        <li>Block the handful of cloud services that carried excessive security, legal, privacy, compliance or data leakage risks</li>
                    </ul>
                    <p>
                        <table>
                        <tr>
                            <th width="33%">Problem</th>
                            <th width="33%">Solution</th>
                            <th>Result</th>
                        </tr>
                        <tr>
                            <td>Difficulty identifying which cloud services are in use</td>
                            <td>Use Skyhigh Cloud Services Manager&trade; to identify which services are being accessed</td>
                            <td>Quickly and easily discovered over 200 cloud services used by Equinix employees</td>
                        </tr>
                        <tr>
                            <td>Calculating risk of cloud services is time-consuming, expensive</td>
                            <td>Skyhigh delivers detailed risk ratings for each cloud service based on over 30 factors including penetration testing of service, authentication methods, data encryption, and more</td>
                            <td>10x reduction in manhours and costs required to research and approve a new cloud service</td>
                        </tr>
                        <tr>
                            <td>Unable to systematically track data leakage or identify anomalous behaviors</td>
                            <td>Skyhigh provides a Hadoop-powered Big Data anomaly detection engine to spot triggers that indicate the risk of data leakage</td>
                            <td>Equinix can use Skyhigh to augment and potentially replace a customized, significantly more expensive consisting of three or four discrete products</td>
                        </tr>
                        <tr>
                            <td>Limited understanding of which new cloud service offerings employees might want</td>
                            <td>Skyhigh helps Equinix CIO determine which types of cloud services are heavily used that may not be known as requirements for employees</td>
                            <td>Equinix reprioritizes approval process of new types of cloud services, gets employees needed tools faster</td>
                        </tr>
                        </table>
                    </p>
                </div>
                <div class="back_to_list">
                    <a href="{% url product_case_studies %}" class="btn btn_light">&laquo; Back To List</a>
                    <a href="{{ STATIC_URL }}skyhigh/pdf/Case-Study-Equinix.pdf" target="_blank" class="btn btn_light align-right">Download PDF &raquo;</a>
                </div>
            </div>
        </div><!--/content-->
    </div>
</div>
{% endblock %}