{% extends 'base.html' %}
{% load honeypot %}

{% block title %}Newsletter{% endblock %}

{% block content %}
    <div class="section">
        <div class="container form">
            <h1>Thank you for signing up for our newsletter.</h1>
            <h2>If you wish to create a profile with us, please enter your details in the form below</h2>
            <div class="content">
                <div class="column">
                    <form id="frmCompleteSignup" action="." method="POST" class="validate_form">{% csrf_token %}
                        <div class="note">Fields marked with <span class="blue">*</span> are required</div>
                        <div class="field">
                            <label for="id_first_name">First Name</label>
                            {{ form.first_name }}{{ form.first_name.errors }}
                        </div>
                        <div class="field">
                            <label for="id_last_name">Last Name</label>
                            {{ form.last_name }}{{ form.last_name.errors }}
                        </div>
                        <div class="field">
                            <label for="id_email">Email Address <span class="blue">*</span></label>
                            {{ form.email }}{{ form.email.errors }}
                        </div>
                        <div class="field">
                            <label for="id_company">Company</label>
                            {{ form.company }}{{ form.company.errors }}
                        </div>
                        <div class="field">
                            <label for="id_job_title">Job Title</label>
                            {{ form.job_title }}{{ form.job_title.errors }}
                        </div>
                        <div class="field">
                            <label for="id_password1">Password <span class="blue">*</span></label>
                            {{ form.password1 }}{{ form.password1.errors }}
                        </div>
                        <div class="field">
                            <label for="id_password2">Password (again) <span class="blue">*</span></label>
                            {{ form.password2 }}{{ form.password2.errors }}
                        </div>
                        {% render_honeypot_field %}
                        <div class="buttons">
                            <input type="submit" value="Complete Signup" /> &nbsp; <a href="{% url index %}" class="btn marg-left">No thanks</a>
                        </div>
                    </form>
                </div>
            </div>
            <div class="clear"></div>
        </div>
    </div>
{% endblock %}