{% extends 'base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Events</h1>
            <h2>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor dolore magna aliqua.</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar.html' %}
                </div>
                <div class="column">
	                {% for object in object_list %}
	                    <div class="third">
	                        <a href="{{ object.external_link }}"><img src="{{ object.get_202x126_url }}" class="image_third" /></a>
                            <h3>{{ object.title }}</h3>
	                        <p>{{ object.content|safe }}</p>
	                        <p>{{ object.start_date }} - {{ object.end_date }}</p>
	                        {% if object.external_link %}
	                            <p><a href="{{ object.external_link }}" class="link">Learn More</a></p>
	                        {% endif %}
	                    </div>
	                {% empty %}
	                    <p>There are no events to display.</p>
	                {% endfor %}
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}