{% extends 'base.html' %}

{% block title %}You have successfully unsubscribed from our marketing emails.{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>You have successfully unsubscribed from our marketing emails.</h1>
    </div>
</div>
{% endblock %}