{% extends 'base.html' %}

{% block title %}Thank you for signing up for our Newsletter{% endblock %}

{% block content %}
<div class="section">
    <div class="container">
        <h1>Thank you for signing up for our Newsletter!</h1>
    </div>
</div>
{% endblock %}