{% extends 'base.html' %}

{% block title %}Search{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Search Results</h1>
            <h2>We found 3 results for your search "Skyhigh".</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar.html' %}
                </div>
                <div class="column">
                    <div class="listing">
                        <h3>Listing Title</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><a href="#" class="link">And this is a link</a></p>
                    </div>
                    <div class="listing">
                        <h3>Listing Title</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><a href="#" class="link">And this is a link</a></p>
                    </div>
                    <div class="listing">
                        <h3>Listing Title</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><a href="#" class="link">And this is a link</a></p>
                    </div>
                    <div class="listing">
                        <h3>Listing Title</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><a href="#" class="link">And this is a link</a></p>
                    </div>
                    <div class="listing">
                        <h3>Listing Title</h3>
                        <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley of type and scrambled it to make a type specimen book.</p>
                        <p><a href="#" class="link">And this is a link</a></p>
                    </div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}