<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Skyhigh Networks</title>
    <meta name="viewport" content="width=device-width">
    <link rel="stylesheet" href="{{ STATIC_URL }}skyhigh/splash/inc/style.css">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,700' rel='stylesheet' type='text/css'>
</head>
<body>
<div id="wrap">

    <div id="main">

    	<div class="content">
            <h1 class="logo">Skyhigh Networks</h1>
			<h3>Thank you for your interest!</h3>
			<h4>Please use this code to receive a free Expo pass<br />to the RSA Conference 2013:</h4>
            <h5>FXE13SKYNET</h5>
    	</div>

     <div class="footer">&copy; Copyright 2013. Skyhigh Networks. Created by <a href="http://unomena.com/" target="_blank">Unomena</a></div>   
    </div><!--/Main-->

</div><!--/Wrap-->
<script src="{{ STATIC_URL }}skyhigh/splash/inc/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}skyhigh/splash/inc/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}skyhigh/splash/inc/scripts.js"></script>
</body>
</html>
