{% extends 'skyhigh/console/base.html' %}

{% block title %}Investor{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Investor</h1>
            <a href="{% url console_usage_investor_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="content">
                <table>
                    <tr>
                        <th>State</th>
                        <td>{{ object.get_state_display }}</td>
                    </tr>
                    <tr>
                        <th>Title</th>
                        <td>{{ object.title }}</td>
                    </tr>
                    <tr>
                        <th>Content</th>
                        <td>{{ object.content|safe|truncatechars:200 }}</td>
                    </tr>
                    <tr>
                        <th></th>
                        <td><a href="{% url console_usage_investor_update object.pk %}" class="link btn btn-edit">Edit</a> &nbsp; <a href="{% url console_usage_investor_delete object.pk %}" class="link btn_light btn-delete">Delete</a></td>
                    </tr>
                </table>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}