{% extends 'skyhigh/console/base.html' %}

{% block title %}Case Studies{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<div class="section">
    <div class="container console">
        <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Case Study</h1>
        <a href="{% url console_usage_case_study_list %}" class="link btn_light console-btn">Back To List</a>
        <div class="form">
            <form id="frmNewCaseStudy" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.modified_by }}
                {{ form.created_by }}

                <div class="row">
                    <div class="field">
                        <label>Title</label>
                        <div>{{ form.title }}{{ form.title.errors }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label>Content</label>
                        <div class="clear"></div>
                        <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label>Tags <span>Separate tags with commas e.g.: "Tag 1, Tag 2, Tag 3".</span></label>
                        <div>{{ form.comma_seperated_tags }}{{ form.comma_seperated_tags.errors }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label>State</label>
                        <div>{{ form.state }}{{ form.state.errors }}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="field">
                        <label>Has Detail</label>
                        <div>{{ form.has_detail }}{{ form.has_detail.errors }}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="field">
                        <label>PDF</label>
                        <div>{{ form.pdf }}{{ form.pdf.errors }}</div>
                    </div>
                </div>

                <div class="buttons">
                    <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Case Study" class="btn" />
                </div>

                <div class="clear"></div>
            </form>
        </div>
    </div><!--/content-->
</div>
</div>
{% endblock %}