{% extends 'base.html' %}

{% block title %}Cloud Security Products | Skyhigh Networks{% endblock %}
{% block meta_description %}Skyhigh Networks' cloud security products contain everything you need to discover and secure your cloud usage.{% endblock %}
{% block meta_keywords %}Cloud security vendors{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Skyhigh Product Overview</h1>
            <h2>The Skyhigh Cloud Access Security Manager enables and accelerates the secure adoption of cloud services.  Skyhigh is the first solution to address the entire cloud management lifecycle from discovery to analysis to data security.</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar_product.html' %}
                </div>
                <div class="column">
                    <div class="listing">
                        <h3>Customer Problem</h3>
                        <p>Employees are adopting cloud services at an unprecedented pace in order to benefit from their ease of use, time to market, pay per use, and lower costs. In most instances employees either do not check with IT or Ops teams or evade their oversight and controls. Hence IT and Ops teams lack much needed visibility and control and are looking to cloud security vendors to help solve;</p>
                        <ul>
                            <li>Compliance and audit exposure: Regulatory and internal policy exposure due to employee use of services with high security and legal risk.</li>
                            <li>Security and privacy exposure: Data leakage and security breaches through the high-risk use of even low-risk services.</li>
                            <li>Increased costs: Unused subscription licenses, use of higher cost services, fractured and unmanaged procurement.</li>
                        </ul>

                    </div>
                    <div class="listing">
                        <h3>Our Solution - Cloud Access Security Manager, a zero footprint, cloud-based, multi-tenant service for:</h3>
                        <div class="third no-bord">
                            <h4><img src="{{ STATIC_URL }}skyhigh/img/icon_discover.png" alt="Cloud IT services" /><br />1) Rapid Discovery:</h4>
                            <p>Ingests logs from existing firewalls, proxies, web security gateways, or SIEM systems to:</p>
                            <ul>
                                <li>Identify all cloud services being used by employees.</li>
                                <li>Provide an objective, customizable, risk assessment of all cloud services in use.</li>
                                <li>Enable new services to be discovered based on industry best practices.</li>
                            </ul>
                        </div>
                        <div class="third no-bord">
                            <h4><img src="{{ STATIC_URL }}skyhigh/img/icon_monitor.png" alt="Cloud networking" /><br />2) Instant Analysis:</h4>
                            <p>Builds statistical and behavioral models based on user, service, device, and data interactions to:</p>
                            <ul>
                                <li>Expose inconsistencies in current firewall policy enforcement.</li>
                                <li>Identify opportunities to consolidate services in a category based on risk or cost.</li>
                                <li>Detect anomalous use that may indicate a security breach or data leaks</li>
                            </ul>
                        </div>
                        <div class="third no-bord">
                            <h4><img src="{{ STATIC_URL }}skyhigh/img/icon_control.png" alt="Cloud Data security" /><br />3) 3-Click Security:</h4>
                            <p>Utilizes patent-pending reverse proxy technology to secure cloud usage across any device:</p>
                            <ul>
                                <li>Provide contextual access control based on user, device, and location.</li>
                                <li>Enforce policies and prevent data loss via cloud services</li>
                                <li>Protect data and enable compliance by encrypting data stored in the cloud</li>
                            </ul>
                        </div>
	                    <div class="link_box">
	                    	<div class="third no-bord">
	                            <a href="{% url product_overview_shadow_it %}">Learn more</a>
	                        </div>
	                    	<div class="third no-bord">
	                            <a href="{% url product_overview_saas_security %}">Learn more</a>
	                        </div>
	                    	<div class="third no-bord">
	                            <a href="{% url product_overview_cloud_control %}">Learn more</a>
	                        </div>
	                    </div>
                    </div>
                    <div class="listing">
                        <p>"With Skyhigh, we immediately discovered a wide range of services that we had not authorized." - <strong>Steve Martino, VP, Information Security, at Cisco</strong></p>
                        <p>"Skyhigh addresses my cloud service security, compliance, and governance needs and enables me to become the Chief Enabler to the business." - <strong>Brian Lillie, CIO, at Equinix</strong></p>
                        <p>"Using Skyhigh we feel more confident that we can adopt cloud services in a manageable way that enables our employees while meeting our security and privacy requirements." - <strong>Steve Lantz, Dir, Infr and Ops, at Torrance Memorial Medical Center</strong></p>
                    </div>

{% comment %}
                        <p>The three main externally facing components of the Skyhigh solution are the Skyhigh Dashboard, the Skyhigh CloudFlow&trade; Gateway, and the Log Collector.</p>
                        <a href="{{ STATIC_URL }}skyhigh/img/architecture.png" class="open_pop"><img src="{{ STATIC_URL }}skyhigh/img/architecture.png" width="300" class="image_full align-right marg-left shadow" /></a>
                        <p><strong>Skyhigh Dashboard:</strong> This is the central multi-tenant, cloud hosted, management console from which customers can discover, analyze, and control cloud traffic. Built on top of a core set of infrastructure engines the Skyhigh dashboard scales horizontally and supports state-of-the-art security with RBAC, IPS, encryption, and regular pentesting.</p>
                        <p><strong>Skyhigh CloudFlow&trade; Gateway:</strong> Built ground-up as a cloud-ready multi-tenant reverse proxy, this Gateway isolates each tenant traffic through a virtual host, logs all traffic flow, and supports a multi-layer functional blade architecture for adding data-path control tasks to be executed either per-flow or per-request. Additionally, the CloudFlow&trade; Gateway has a patent-pending approach to steer cloud traffic seamlessly through the reverse proxy with zero client footprint and with no changes to the enterprise-ready Cloud Services. The Gateway is cloud hosted across multiple geographies. The CloudFlow&trade; Gateway also comes in a virtual appliance form factor for an optional on-premise or hybrid deployment.</p>
                        <p><strong>Log Collector:</strong> This is a high performant log processing engine that can consume logs from all major egress devices, any custom format with the use of a mapping utility, and semantically mapped activity logs from the CloudFlow&trade; Gateway. The logs themselves are highly compressed and the Collector is horizontally scaled to handle tera-byte log feeds everyday.</p>
                        <p>Skyhigh infrastructure engines:</p>
                        <ul>
                            <li><strong>Policy Engine:</strong> This engine is responsible for managing the lifecycle and run-time execution of tenant-specific policies configured from the Dashboard. Policies themselves are context- and content-aware and support a flexible attribute-based model that can be used for both per-flow and per-transaction control.</li>
                            <li><strong>Map Reduce Engine:</strong> Based on a highly scalable hadoop and elastic search infrastructure, this engine is responsible for performing core statistical and behavioral anomaly detection for all cloud traffic flow through the Skyhigh CloudFlow&trade; Gateway, or from traffic logs obtained from on-premise egress devices (such as firewalls and web proxies).</li>
                            <li><strong>Keys:</strong> Based on the OASIS KMIP standard, Skyhigh optionally manages enterprise keys in the cloud, or can act as a KMIP client to a KMIP server that may be deployed in a customer premise. These keys are used for many purposes, including enabling the CloudFlow&trade; Gateway to encrypt data with enterprise managed keys.</li>
                            <li><strong>CloudRisk&trade;:</strong> A proprietary risk scoring engine, the CloudRisk&trade; engine uses a risk scoring mechanism to dynamically score the risk of each Cloud Service based on more than 30 properties of the service which directly impact the risk of using the service in the context of enterprise controls. The CloudRisk&trade; engine also generates tenant-specific suggestions to reduce risk with compensating controls.</li>
                            <li><strong>CloudRegistry&trade;:</strong> A proprietary registry of more than 2,000 cloud services (and growing), this registry contains detailed intelligence about each service including risk associated with how the service manages data, identifies users, controls mobile devices, provides business transparency, and accepts legal risks of the use of the service.</li>
                        </ul>
{% endcomment %}
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}