{% extends 'base.html' %}

{% block title %}Data Loss Prevention Software | Skyhigh Secure{% endblock %}
{% block meta_description %}Skyhigh Secure helps address all aspects of your enterprise cloud data loss prevention software requirements from a single solution.{% endblock %}
{% block meta_keywords %}Data loss prevention tools, Data loss prevention software, Cloud control{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Skyhigh Secure</h1>
            <h2>With Skyhigh, organizations can address all aspects of their cloud data loss prevention software requirements from a single solution.  Customers benefit from cloud control, while maintaining the familiar direct-to-cloud experience end users love.</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar_product.html' %}
                </div>
                <div class="column">
                    <div class="listing">
                        <h3>Control Access to the Cloud</h3>
                        <ul>
                            <li><strong>Contextual Access Control</strong>: Provides the ability to enforce access control policies based on user, device and location.</li>
                            <li><strong>Cloud-to-Cloud Control</strong>: Enables consistent enforcement of security policies as data moves from cloud service to cloud service.</li>
                        </ul>
                    </div>
                    <div class="listing">
                        <h3>Secure Data with Data Loss Prevention Tools</h3>
                        <ul>
                            <li><strong>CloudFlow™ Encryption</strong>: Applies standards-based 256-bit encryption to structured and unstructured data.</li>
                            <li><strong>CloudDLP™</strong>: Enforces compliance policies inline and offline via alerting, blocking, or encryption to prevent data loss and achieve cloud control.</li>
                            </ul>
                    </div>
                    <div class="listing">
                        <h3>No Footprint, No Device Changes, No User Retraining</h3>
                        <ul>
                            <li><strong>Direct-to-Cloud Access</strong>: Utilizes a reverse proxy to secure mobile-to-cloud use without requiring a device agent, VPN, or traffic back-haul.</li>
                            <li><strong>Flexible Deployment Options</strong>: Enables the deployment of Skyhigh Secure in the cloud, on premises as a virtual appliance, or in a hybrid architecture.</li>
                        </ul>
                    </div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}