{% extends 'base.html' %}

{% block title %}Activation Complete{% endblock %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
        	<h2>You have successfully activated your account.</h2>
        </div>
    </div>
{% endblock %}