{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
	<div class="section">
        <div class="container">
            <div class="content">
                <h1>Password Reset Successful</h1>
                <div class="column column_full center">
                    <p>We've e-mailed you instructions for setting your password to the e-mail address you submitted. You should be receiving it shortly.</p>
                    <p>&nbsp;</p>
                </div><!--/inner-->
            </div>
	    </div>
    </div>
{% endblock %}