{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
	<div class="section">
        <div class="container">
        <h1>Password reset complete</h1>
            <div class="content">
                <div class="column column_full center">
                    {% include 'includes/message_error_header.html' %}
                    <p>Your password has been set. You may go ahead and log in now.</p>
                    <p>This page will redirect shortly.</p>
                    <p>&nbsp;</p>
                </div>
            </div><!--/column-->
        </div>
	</div><!--/section-->
{% endblock %}

{% block bottom_js %}
    <script type="text/javascript">
        jQuery(document).ready(function() {
            setTimeout(function() {
                  window.location.href = "{% url secure_login %}";
            }, 5000);
        });
    </script>
{% endblock %}