{% extends 'email/base.html' %}

{% block content %}
Dear {{ user.profile.display_name }},<br/>
<br/>
You're receiving this e-mail because you requested a password reset for your user account at http://{{ site }}<br/>
<br/>
Please go to the following page and choose a new password:
<br/>
http://{{ site }}/secure/accounts/reset/{{ uid }}-{{ token }}/<br/>
<br/>
Your username, in case you've forgotten: {{ user.username }}<br/>
{% endblock %}