{% extends 'popup_base.html' %}

{% block content %}
	<div class="content pop" id="change_password_div">
	    <div class="title">
	        <h1>Password Change Successful</h1>
	    </div><!--/title-->
	    <div class="inner">
	        {% include 'includes/message_error_header.html' %}
			<p>Your password was changed successfully</p>
	    </div><!--/inner-->
	</div><!--/content-->
{% endblock %}