{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
	<div class="section">
        <h1>Please enter a new password</h1>
	    <div class="container form">
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <div class="widget">
                        <h3>Need help?</h3>
                        <p>General Questions:</p>
                        <p><a href="mailto:info@skyhighnetworks.com">info@skyhighnetworks.com</a></p>
                        <p>Contact Support:</p>
                        <p><a href="mailto:support@skyhighnetworks.com">support@skyhighnetworks.com</a></p>
                        <p>Contact Sales:</p>
                        <p><a href="sales:sales@skyhighnetworks.com">sales@skyhighnetworks.com</a></p>
                    </div>
                </div>
                <div class="column">
                	{% if validlink %}
	                    <form id="frmRegister" action="." method="POST">{% csrf_token %}
	                        <div>
	                            <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
	                        </div>
	                        <div class="row">
	                            <div class="field">
	                                <label for="password1">Password *</label>
	                                {{ form.new_password1 }}{{ form.new_password1.errors }}
	                            </div>
	                        </div>
	                        <div class="row">
	                            <div class="field">
	                                <label for="password2">Confirm Password *</label>
	                                {{ form.new_password2 }}{{ form.new_password2.errors }}
	                            </div>
	                        </div>
	                        <div class="buttons">
	                            <input type="submit" id="submit" value="Change my password" class="btn align_right" />
	                        </div>
	                    </form>
	            	{% else %}
	            		<p>This link is no longer valid. Please click <a href="{% url password_reset_new_token user_id %}">here</a> to have a new password reset link emailed to you.</p>
	            	{% endif %}
                </div>
            </div>
	    </div><!--/inner-->
	</div><!--/content-->
{% endblock %}