{% extends 'base.html' %}

{% block title %}New Password Link Sent{% endblock %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
        	<h1>A new password reset link has been emailed to you.</h1>
        	<h2>This page will redirect shortly.</h2>
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
	{% if not evaluation_request %}
	    <script type="text/javascript">
	        jQuery(document).ready(function() {
	            setTimeout(function() {
	                  window.location.href = "{% url secure_login %}";
	            }, 2500);
	        });
	    </script>
	{% endif %}
{% endblock %}