{% extends 'popup_base.html' %}

{% block content %}
	<div class="content pop" id="change_password_div">
	    <div class="title">
	        <h1>Change Your Password</h1>
	    </div><!--/title-->
	    <div class="inner">
	        {% include 'includes/message_error_header.html' %}
			<form id="change_password_form" action="{% url password_change %}" method="POST">
			    {% csrf_token %}
			    <div class="field">
			        <label for="old_password">Current Password *</label>
			        {{ form.old_password }}{{ form.old_password.errors }}
			    </div>
			    <div class="field">
			        <label for="new_password1">New Password *</label>
			        {{ form.new_password1 }}{{ form.new_password1.errors }}
			    </div>
			    <div class="field">
			        <label for="new_password2">New Password Confirm *</label>
			        {{ form.new_password2 }}{{ form.new_password2.errors }}
			    </div>
			    <div class="buttons">
			        <input type="submit" id="submit" value="Change" class="btn btn_blue align_right" />
			    </div>
			</form>
	    </div><!--/inner-->
	</div><!--/content-->
{% endblock %}

{% block extra_js %}
<script>
    document.getElementById("id_old_password").focus();
    $('.colorbox').colorbox();
    var options = { target : '#popup_div', 
                    success : function(){ $.colorbox.resize(); }, 
                    clearForm : 'true' 
                    };
    
    $(document).ready(function() {
        $('#change_password_form').ajaxForm(options);
    });
</script>
{% endblock %}