{% extends 'base.html' %}

{% block messages %}<div></div>{% endblock %}

{% block content %}
    <div class="section">
        <div class="container form">
            <h1>Forgot your password?</h1>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <div class="widget">
                        <h3>Need help?</h3>
                        <p>General Questions:</p>
                        <p><a href="mailto:info@skyhighnetworks.com">info@skyhighnetworks.com</a></p>
                        <p>Contact Support:</p>
                        <p><a href="mailto:support@skyhighnetworks.com">support@skyhighnetworks.com</a></p>
                        <p>Contact Sales:</p>
                        <p><a href="sales:sales@skyhighnetworks.com">sales@skyhighnetworks.com</a></p>
                    </div>
                </div>
                <div class="column">
                    <form id="frmPasswordReset" action="." method="POST">{% csrf_token %}
                        <div class="blurb pad_bot_15">
                            <p>Please enter your email address below, and we'll send you an email to reset your password.</p>
                        </div>
                        <div class="field">
                            <label for="email">Email Address *</label>
                            {{ form.email }}{{ form.email.errors }}
                        </div>
                        <div class="buttons">
                            <input type="submit" id="submit" value="Send Reset Email" class="btn align_right" />
                        </div>
                    </form>
                </div><!--/inner-->
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}