{% extends 'skyhigh/console/base.html' %}

{% block title %}Partners{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Partner</h1>
            {% if type == 'technical' %}<a href="{% url console_usage_partner_list 'technical' %}" class="link btn_light console-btn">Back To List</a>{% else %}<a href="{% url console_usage_partner_list 'channel' %}" class="link btn_light console-btn">Back To List</a>{% endif %}
            <div class="content">
                <table>
                    <tr>
                        <th width="80">Partner</th>
                        <td><a href="{% url console_usage_partner_detail object.pk %}">{{ object.first_name }} {{ object.last_name }}</a></td>
                    </tr>
                    <tr>
                        <th width="120">Email</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th width="120">Role</th>
                        <td>{{ object.get_role_display }}</td>
                    </tr>
                    <tr>
                        <th width="120">Login Date</th>
                        <td>{{ object.last_login }}</td>
                    </tr>
                    <tr>
                        <th width="60"></th>
                        <td><a href="{% url console_usage_partner_update object.pk %}" class="link btn btn-edit">Edit</a> &nbsp; <a href="{% url console_usage_partner_delete object.pk %}" class="link btn_light btn-delete">Delete</a>{% if object.partnership.cloud_service_provider %} &nbsp; <a href="{% url console_usage_partner_csp_attribute_list object.pk %}" class="link btn btn-edit align-right">CSP Attribute List</a>{% endif %}</td>
                    </tr>
                </table>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}