/**************************************************************************************************************************************/
/*  HTML5 BOILERPLATE */

    article, aside, details, figcaption, figure, footer, header, hgroup, nav, section { display: block; }
    audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
    audio:not([controls]) { display: none; }
    [hidden] { display: none; }

    html { font-size: 100%; -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%; }
    html, button, input, select, textarea { font-family: 'Open Sans', 'Lucida Grande', 'Arial', sans-serif; color: #000; outline: none!important; }
    body { margin: 0; font-size: 13px; line-height: 21px; }

    ::-moz-selection { background: #999; color: #000; text-shadow: none; }
    ::selection { background: #999; color: #000; text-shadow: none; }

    a { color: #2a90c3; text-decoration: none; }
    a:visited { color: #2a90c3; text-decoration: none; }
    a:hover { color: #2a90c3; text-decoration: underline; }
    a:focus { outline: none; }
    a:hover, a:active { outline: none; }
    abbr[title] { border-bottom: 1px dotted; }
    b, strong { font-weight: bold; }
    blockquote { margin: 1em 40px; }
    dfn { font-style: italic; }
    hr { display: block; height: 1px; border: 0; border-top: 1px solid #ccc; margin: 1em 0; padding: 0; }
    ins { background: #ff9; color: #000; text-decoration: none; }
    mark { background: #ff0; color: #000; font-style: italic; font-weight: bold; }
    pre, code, kbd, samp { font-family: monospace, serif; _font-family: 'courier new', monospace; font-size: 1em; }
    pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

    q { quotes: none; }
    q:before, q:after { content: ""; content: none; }
    small { font-size: 85%; }
    sub, sup { font-size: 75%; line-height: 0; position: relative; vertical-align: baseline; }
    sup { top: -0.5em; }
    sub { bottom: -0.25em; }

    ul, ol { margin: 1em 0; padding: 0 0 0 40px; }
    dd { margin: 0 0 0 40px; }
    nav ul, nav ol { list-style: none; list-style-image: none; margin: 0; padding: 0; }

    img { border: 0; -ms-interpolation-mode: bicubic; vertical-align: middle; }
    svg:not(:root) { overflow: hidden; }
    figure { margin: 0; }

    form { margin: 0; }
    fieldset { border: 0; margin: 0; padding: 0; }

    label { cursor: pointer; }
    legend { border: 0; *margin-left: -7px; padding: 0; white-space: normal; }
    button, input, select, textarea { font-size: 100%; margin: 0; vertical-align: baseline; *vertical-align: middle; }
    button, input { line-height: normal; }
    button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; *overflow: visible; }
    button[disabled], input[disabled] { cursor: default; }
    input[type="checkbox"], input[type="radio"] { box-sizing: border-box; padding: 0; *width: 13px; *height: 13px; }
    input[type="search"] { -webkit-appearance: textfield; -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }
    input[type="search"]::-webkit-search-decoration, input[type="search"]::-webkit-search-cancel-button { -webkit-appearance: none; }
    button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }
    textarea { overflow: auto; vertical-align: top; resize: vertical; }
    input:valid, textarea:valid {  }
    input:invalid, textarea:invalid { background-color: #f0dddd; }
    input:focus { outline: none; }

    table { border-collapse: collapse; border-spacing: 0; }
    td { vertical-align: top; }

    .chromeframe { margin: 0.2em 0; background: #ccc; color: black; padding: 0.2em 0; }


/**************************************************************************************************************************************/
/*  HELPERS */

    .clear { width: 100%; height: 1px; clear: both; }

/**************************************************************************************************************************************/
/*  GLOBAL */

    html, body { height: 100%; background: #f6f7f8 url('../img/bg.png') repeat; overflow-x: hidden; }
    #wrap { height: 100%; }
    #main { width: 100%; height: 100%; background: url('../img/bottom.png') bottom center no-repeat; overflow: auto; padding: 0; clear: both; }


/**************************************************************************************************************************************/
/*  CONTENT */

    .content { width: 690px; margin: 0 auto; padding: 0 15px; }
        .content .logo { width: 381px; height: 141px; margin: 60px auto 40px auto; background: url('../img/logo.png') no-repeat; overflow: hidden; text-indent: -9999px; }
        .content h3 { margin: 0 auto; padding: 0 0 40px 0; font-size: 34px; text-align: center; }
        .content h4 { margin: 0 auto; padding: 0 0 20px 0; font-size: 24px; text-align: center; line-height: 28px; }
        .content h5 { margin: 0 auto; padding: 0 0 20px 0; font-size: 24px; text-align: center; line-height: 28px; color: #37628f; }
        .content form { width: 690px; margin: 0 auto; }
        .content .top10 { width: 390px; height: 123px; margin: 0 auto; padding: 0 0 0 266px; background: url('../img/top10.png') 0 4px no-repeat; }
            .content .top10 h2 { margin: 0; padding: 0; font-size: 23px; font-weight: bold; color: #000; line-height: 24px; }
            .content .top10 p { margin: 0; padding: 5px 0 0 0; font-weight: bold; font-size: 18px; }
        .content .freepass { height: 62px; margin: 0 auto; text-align: center; font-size: 32px; font-weight: bold; color: #37628f; }
            .content .freepass .green { color: #67923c; }
            .content .freepass .black { color: #000; }
        .content .field { width: 690px; margin: 0 auto; padding: 0 0 30px 0; text-align: center; position: relative; }
        .content .field label { width: 420px; height: 33px; margin: 0 auto; clear: both; font-family: Open Sans, sans-serif; font-weight: 400; color: #37628f; font-size: 22px; }
        .content .field .field_input { width: 378px; margin: 0 auto; clear: both; padding: 5px 20px 7px 20px; background: #eee; border: 1px solid #9f9f9f; color: #000; font-family: Open Sans, sans-serif; font-weight: 400; font-size: 15px; -webkit-border-radius: 20px; border-radius: 20px; }
        .content .field .field_input:focus { border: 1px solid #9f9f9f; }
        .content .field .btn { width: 201px; height: 51px; display: block; margin: 0 auto; clear: both; padding: 0!important; background: url('../img/btn.png') top no-repeat; border: 0; font-weight: bold; color: #37628f; font-size: 14px; line-height: 50px }
        .content .field .btn:hover { background-position: center; }
        .content .field .btn:focus { background-position: bottom; }
        label.error { width: 100px; position: absolute; top: 55px; right: 150px; color: #ff0000!important; font-size: 11px!important; text-align: right; }
    .footer { width: 100%; background: #fff; padding: 10px; position: absolute; bottom: 0; color: #666; text-align: center; }
        .footer a { color: #000; }


/**************************************************************************************************************************************/
/*  BUTTONS */

    .btn {
        padding: 0 18px;
        color: #fff!important;
        background-color: #376390;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#2a90d0), to(#376390));
        background-image: -webkit-linear-gradient(top, #2a90d0, #376390);
        background-image:    -moz-linear-gradient(top, #2a90d0, #376390);
        background-image:     -ms-linear-gradient(top, #2a90d0, #376390);
        background-image:      -o-linear-gradient(top, #2a90d0, #376390);
        -webkit-border-radius: 10px; 
        border-radius: 10px; 
        text-decoration: none;
        text-shadow: 0 1px 1px #061520;
        display: inline-block;
        border: 1px solid #37628f;
    }
    .btn:hover {
        color: #fff!important;
        background-color: #2a90d0;
        background-image: -webkit-gradient(linear, 0% 0%, 0% 100%, from(#376390), to(#2a90d0));
        background-image: -webkit-linear-gradient(top, #376390, #2a90d0);
        background-image:    -moz-linear-gradient(top, #376390, #2a90d0);
        background-image:     -ms-linear-gradient(top, #376390, #2a90d0);
        background-image:      -o-linear-gradient(top, #376390, #2a90d0);
        text-decoration: none;
    }


/**************************************************************************************************************************************/
/*  FORMS */

    