<div class="widget">
    <h3>The Skyhigh Mission</h3>
    <a href="/company/video/" class="open_pop"><img src="/static/skyhigh/img/video_side.png" class="image_third" /></a>
</div>
{% comment %}
<div class="widget">
    <h3>View the Product Demo</h3>
    <p>Register for the product demo webinar</p>
    <p><a href="{% url campaign_demo %}" class="link">Register Now</a></p>
</div>
{% endcomment %}
<div class="widget">
    <h3>Understand the Risk</h3>
    <p>Learn about the hidden growth and risk of Shadow IT</p>
    <p><a href="{% url rethink_cloud %}" class="link">Learn More</a></p>
</div>
<div class="widget">
    <h3>Skyhigh's Solution</h3>
    <p>See how Skyhigh shines a light on Shadow IT, eliminating risk and increasing returns</p>
    <p><a href="{% url product_tour %}" class="link">Take The Tour</a></p>
</div>