<div class="widget">
    <h3>Read the Whitepaper</h3>
    <a href="http://www.skyhighnetworks.com/product/asset/data-security/"><img src="{{ STATIC_URL }}skyhigh/img/sidebar-cloud_data.jpg" alt="The 4 Step Guide to Cloud Data Security" width="180"></a>
    <p><a href="http://www.skyhighnetworks.com/product/asset/data-security/" class="link open_pop">The 4 Step Guide to Cloud Data Security</a></p>
</div>