<div class="widget">
    <h3>Download the Checklist</h3>
    <a href="http://www.skyhighnetworks.com/product/asset/data-protection/"><img src="{{ STATIC_URL }}skyhigh/img/sidebar-cloud_security.jpg" alt="The 15 Point Checklist for Cloud Data Protection" width="180"></a>
    <p><a href="http://www.skyhighnetworks.com/product/asset/data-protection/" class="link open_pop">The 15 Point Checklist for Cloud Data Protection</a></p>
</div>