<div class="widget">
	<ul>
		<li><a href="{% url resources_whitepapers %}">Whitepapers</a></li>
		<li><a href="{% url resources_datasheets %}">Datasheets</a></li>
        <li><a href="{% url resources_infographics %}">Infographics</a></li>
		{% comment %}
        <li><a href="{% url resources_webinars %}">Webcasts</a></li>
		<li><a href="{% url resources_videos %}">Videos</a></li>
		{% endcomment %}
	</ul>
</div>