<div class="widget">
    <h3>Cloud Compliance Assessment</h3>
    <a href="http://www.skyhighnetworks.com/product/evaluation/"><img src="{{ STATIC_URL }}skyhigh/img/sidebar-cloud_compliance.jpg" alt="Receive a free personalized cloud discovery and risk assessment." width="180"></a>
    <p><a href="http://www.skyhighnetworks.com/product/evaluation/" class="link open_pop">Receive a free personalized cloud discovery and risk assessment.</a></p>
</div>