{% load skyhigh_widgets %}

{% newsletter_signup %}
<div class="widget">
    <h3>Contact Us</h3>
    <p>Do you have questions about the Skyhigh Dashboard, or would like to see a Demo?</p>
    <p><a href="{% url company_contact %}" class="link">Contact Us</a></p>
</div>