{% extends 'skyhigh/console/base.html' %}

{% block title %}Users{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>User</h1>
            <a href="{% url console_usage_user_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="clear"></div>
            <ul class="tabs">
                <li><a href="#" rel="#user">Details</a></li>
                {% if object.is_cloud_service_provider %}
                	<li><a href="#" rel="#csp">CSP Attribute List</a></li>
                {% endif %}
                {% if object.evaluation_request.log_file_sample %}
                	<li><a href="#" rel="#log">Evaluation Log File Sample</a></li>
                {% endif %}
                {% if object.sftp_user_accounts.count %}
                	<li><a href="#" rel="#sftp">SFTP Accounts</a></li>
               	{% endif %}
            </ul>
            <div class="content tab_content" id="user">
                <table>
                    <tr>
                        <th width="80">User</th>
                        <td><a href="{% url console_usage_user_detail object.pk %}">{{ object.first_name }} {{ object.last_name }}</a></td>
                    </tr>
                    <tr>
                        <th width="120">Email</th>
                        <td>{{ object.email }}</td>
                    </tr>
                    <tr>
                        <th width="120">Role</th>
                        <td>{{ object.get_role_display }}</td>
                    </tr>
                    <tr>
                        <th width="120">Login Date</th>
                        <td>{{ object.last_login }}</td>
                    </tr>
                    <tr>
                        <th width="60"></th>
                        <td><a href="{% url console_usage_user_update object.pk %}" class="link btn btn-edit">Edit</a> &nbsp; <a href="{% url console_usage_user_delete object.pk %}" class="link btn_light btn-delete">Delete</a></td>
                    </tr>
                </table>
            </div><!--/content-->
            {% include 'skyhigh/console/includes/csp_attribute_list_tab.html' %}
            {% include 'skyhigh/console/includes/evaluation_log_file_sample.html' %}
            {% include 'skyhigh/console/includes/user_sftp_accounts_tab.html' %}
        </div>
        <div class="clear"></div>
    </div>
{% endblock %}