{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <div class="container form">
            <h1>Register for the complimentary webcast</h1>
            <h2>30-in-30: Find out How Torrance Memorial Uncovered Unknown Cloud Services</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <img src="{{ STATIC_URL }}skyhigh/img/todd_felker.jpg" class="image_thumb" />
                    <p class="center"><strong>Speaker: Todd Felker, Infrastructure &amp; Security Architect</strong></p>
                    <img src="{{ STATIC_URL }}skyhigh/img/30_torrance.png" />
                </div>
                <div class="column">
                    <h3>“Within minutes, Skyhigh found over 200 cloud services we didn’t know were being used by our organization...”</h3>
                    <p><strong>Register below and find out how Torrance Memorial gained full visibility and control over all their cloud services.</strong></p>
                    <p><strong>Date:</strong> Wed., May 15, 2013<br /><strong>Time:</strong> 10am PT/ 1pm ET<br /><strong>Duration:</strong> 30 minutes</p>
                    <div class="marketo_embed"><iframe width="822" height="450" frameborder="0" style="margin: -45px 0 -150px -180px" src="http://info.skyhighnetworks.com/2013051030in30Webinar_RegistrationPage.html"></iframe></div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}