{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <div class="container form_full_site">
            <h1>Skyhigh 30-in-30 Challenge</h1>
            <h2>IT and Security teams are trying to get a grasp on unknown cloud services (Shadow IT)<br />in use at their organizations.  Using Skyhigh they find, on average, 11x more unknown<br />cloud services than approved ones.</h2>
            <div class="content">
                <div class="sidebar mobi_nobord">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <div class="widget">
                        <img src="{{ STATIC_URL }}skyhigh/img/30_circle.png" class="align-left pad-image" />
				    </div>
                </div>
                <div class="column">
                    <div class="listing no-pad no-bord no-marg">
                        <h2>Give us 30 minutes and we will identify 30 cloud services in use at your organization that you didn’t know about.</h2>
                        <h3>If we don’t, you will enjoy 30 months of FREE Netflix streaming on us.</h3>
                    </div>
                    <div class="listing no-marg">
                        <div class="marketo_embed"><iframe width="822" height="420" frameborder="0" style="margin: -45px 0 -120px -215px" scrolling="no" src="http://info.skyhighnetworks.com/30in30ChallengeEvalOffer_RegistrationPage.html"></iframe></div>
                    </div>
                    <div class="listing smaller thirty_terms">
                        <h4><a href="javascript: void(0);" class="link">Official Rules of the 30-in-30 Challenge</a></h4>
                        <div>
                            <p>1.  Eligibility:  Any enterprise organized under the laws of any of the 50 US states (i.e., corporation, partnership, limited liability company, non-profit, non-stock association), with a principal place of business physically located in the United States and completes the Registration described below from within the United States, is eligible to participate in the Challenge.  Each individual who supplies information to Sponsor necessary for an entity (the “Participant”) to participate in the Challenge hereby certifies that he or she is authorized by the participating entity (“Authorized Personnel”) to act on the Participant’s behalf and bind the Participant to these Official Rules.  Each Participant, through its Authorized Personnel, hereby agrees to be bound by these Official Rules.</p>
                            <p>2.  How to Participate:  The Challenge is open to the first 50 Participants that complete the full registration process at the Challenge Website <a href="http://www.skyhighnetworks.com">http://www.skyhighnetworks.com</a>.  The Challenge Website will be operational beginning at 12:01 a.m. (Time Zone) on May 22, 2013 and ending at 11:59 p.m. (Time Zone) on June 30, 2013, or at such earlier date on which 50 Participants have completed the Registration process as described here (the “Registration Period”).  To be registered and be eligible to participate, each Participant must be one of the first 50 entities to complete the following (“Registration”): (1) visit the Challenge Website during the Registration Period and truthfully complete the registration form including the entity’s official name and address, and the name, address, telephone number and email address for the Participant’s Authorized Personnel; (2) submit one month’s worth of log data and a list of cloud services the Participant believes to be in use within Participant’s organization; and (3) certify that (a) its Authorized Personnel is/are authorized to bind the Participant to these Official Rules, (b) the list of cloud services submitted with the Registration is complete and accurate to the best knowledge of the Participant and its Authorized Personnel, and (c) Participant and its Authorized Personnel agree to be bound by these Official Rules.  Sponsor’s servers shall be the official clock for the Challenge.  Each Participant may only submit one Registration and is only eligible to receive one Incentive. </p>
                            <p>3.  SaaS Evaluation by Sponsor:  Upon receiving a Participant’s Registration during the Registration Period, Sponsor shall review the log data provided with each Participant’s Registration using Sponsor’s proprietary methods to identify what Software As A Solution (SaaS) cloud services are in use within Participant’s organization.  Sponsor will keep all log data information received confidential and will not use or disclose it for any purpose other than conducting the evaluation described here.</p>
                            <p>4.  Incentive:  In the event that Sponsor is not able to identify 30 SaaS cloud services in use within Participant’s organization that were not identified in the Participant’s Registration, Sponsor will distribute to Participant’s Authorized Personnel one or more gift cards redeemable for 30 months of Netflix service.  Participant is responsible for all expenses, costs or fees associated with acceptance and/or use of the Incentive, including without limitation, any and all taxes.  No substitutions, except in Sponsor’s sole discretion.  By accepting the Incentive, each Participant and its Authorized Personnel grant their permission (except where prohibited by law) to the use of the Participant’s name and logo; the name, likeness, and biographical information of its Authorized Personnel; and the Incentive received, for future advertising and publicity in any and all media now existing or hereafter devised throughout the world in perpetuity, without additional compensation, notification or permission.  By accepting the Incentive, each Participant and its Authorized Personnel agree to release, discharge and hold harmless the Sponsor from any claims, losses, or damages arising out of acceptance or use, misuse or possession of the Incentive. </p>
                            <p>5.  Disqualification; Sponsor’s Decision Final:  Sponsor reserves the right to disqualify any Participant that it believes has violated these Official Rules, is not eligible to participate, who has provided false information, acted in a harassing or unsportsmanlike manner with respect to Sponsor or any other Participant, or tampered with the operation of the Challenge.  Sponsor’s decisions as to all issues, including eligibility, shall be final.</p>
                            <p>6.  General Conditions:  This Challenge is subject to state, federal and local laws.  Void where prohibited.  Sponsor and its officers, directors, agents, representatives, and employees (collectively, “Released Parties”) are not responsible for problems related to technical malfunctions of electronic equipment, computer online systems, servers, or providers, computer hardware or software failures, phone lines, traffic, congestion on the Internet or any website, or for any other technical problems including telecommunication, miscommunication or failure, and failed, lost, delayed, incomplete, garbled, or misdirected Registrations or communications which may limit a Participant’s ability to participate in this Challenge.  Released Parties are not responsible for any other errors or malfunctions of any kind, whether network, printing, typographical, human or otherwise relating to or in connection with the Challenge, including, without limitation, errors or malfunctions which may occur in connection with the administration of the Challenge, the announcement of any Incentive, in any Challenge-related materials, acts of God or terrorism or similar events that prevent the Challenge from functioning as intended.  Sponsor reserves the right to modify, suspend or terminate the Challenge in the event it becomes infected by a computer virus or is otherwise technically impaired, and to cancel or suspend the Challenge in its entirety should tampering, unauthorized intervention, fraud, technical failures or other causes corrupt the administration, security, fairness, integrity of the Challenge.  Sponsor reserves the right at its sole discretion to disqualify any individual  it finds to be tampering with the Registration process or the operation of this Challenge, intending to annoy, abuse, threaten or harass any other Participant, Sponsor, or any of its representatives or to otherwise be acting in violation of these Official Rules.  CAUTION: Any attempt by a Participant to deliberately damage any website or undermine the legitimate operations of the Challenge is a violation of criminal and civil laws.  Should such an attempt be made, the Sponsor reserves the right to seek damages from any such Participant to the fullest extent permitted by the law and to disqualify such Participant from the Challenge. </p>
                            <p>7.  Releases:  By participating in this Sweepstakes, Participants and their Authorized Personnel agree to Sponsor’s use of their personal information, including email address, for both online and offline direct marketing purposes.  Each Participant also agrees that its submission of a Registration is gratuitous, unsolicited and without restriction and will not place the Released Parties under any fiduciary or other obligation.</p>
                            <p>8.  Arbitrations and Choice of Law:  Except where prohibited by law, as a condition of participating in this Challenge, Participant agrees that (1) any and all disputes and causes of action arising out of or connected with this Challenge, or any Incentive awarded, shall be resolved individually, without resort to any form of class action lawsuit, and exclusively by final and binding arbitration under the rules of the American Arbitration Association and held at the AAA regional office nearest the Participant; (2) the Federal Arbitration Act shall govern the interpretation, enforcement and all proceedings at such arbitration; and (3) judgment upon such arbitration award may be entered in any court having jurisdiction.  Under no circumstances will Participant be permitted to obtain awards for, and Participant hereby waives all rights to claim, punitive, incidental or consequential damages, or any other damages, including attorneys’ fees, other than Participant’s actual out-of-pocket expenses (i.e., costs associated with entering this Challenge), and Participant further waives all rights to have damages multiplied or increased.  All issues and questions concerning the construction, validity, interpretation and enforceability of these Official Rules, or the rights and obligations of Participants and Sponsor in connection with this Challenge, shall be governed by, and construed in accordance with, the substantive laws of the State of CA, USA without regard to CA choice of law rules. </p>
                            <p>Sponsor:  Skyhigh Networks, Inc.</p>
                            <p>NetFlix is a registered trademark of Netflix, Inc., which is not associated with this Challenge in any way.  Sponsor disclaims any rights to the use of others’ trademarks.</p>
                        </div>
                    </div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}