{% extends 'base.html' %}

{% block content %}
    <div class="section">
        <div class="container form">
            <h1>How to Mitigate the Risk of “Shadow IT”</h1>
            <div class="content">
                <div class="sidebar center">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <p><img src="{{ STATIC_URL }}skyhigh/img/logo_csa.png" /></p>
                    <img src="{{ STATIC_URL }}skyhigh/img/speaker_jim.png" class="image_thumb align-center" />
                    <p class="center">Guest Speaker: Jim Reavis, Founder and Executive Director of the Cloud Security Alliance (CSA)</p>
                    <img src="{{ STATIC_URL }}skyhigh/img/rajiv.png" class="image_thumb align-center" />
                    <p class="center">Speaker: Rajiv Gupta,<br />Founder and CEO,<br />Skyhigh Networks</p>
                </div>
                <div class="column">
                    <h3>Join Jim Reavis, Founder and Executive Director of the Cloud Security Alliance (CSA), and Rajiv Gupta, CEO of Skyhigh Networks, as they expose the most startling trends in Shadow IT and outline the steps needed to regain IT visibility and control.  </h3>
                    <p><strong>Attending this webinar you will:</strong></p>
                    <ul>
                        <li>Discover which Shadow IT cloud services are most popular by category.</li>
                        <li>Understand how to assess the risk of new and popular cloud services.</li>
                        <li>Learn how to get visibility over all Shadow IT cloud services being used.</li>
                        <li>Develop a methodology for reducing security, legal, and compliance risk.</li>
                        <li>Take home the 6-step process for regaining control over your IT environment.</li>
                    </ul>
                    <p><strong>Date:</strong> Thur., July 25, 2013 &nbsp;|&nbsp; <strong>Time:</strong> 10am PT/ 1pm ET &nbsp;|&nbsp; <strong>Duration:</strong> 45 minutes</p>
                    <div class="marketo_embed"><iframe width="822" height="470" frameborder="0" style="margin: -25px 0 -150px -180px" src="http://info.skyhighnetworks.com/2013725SCMagazineShadowITWebinar.html"></iframe></div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}