{% extends 'base.html' %}

{% block landing_class %}class="landing"{% endblock %}

{% block header %}
	<div class="container">
	    <a href="/" class="logo">Skyhigh Networks | Cloud Usage Monitoring</a>
	</div>
{% endblock %}

{% block landing_nav %}{% endblock %}

{% block content %}

    <div class="section">
        <div class="container form_full_site">
            <h1>The 4-Step Guide to Cloud Data Security</h1>
            <div class="content">
                <div class="sidebar">
                    <div class="widget">
                        <h2>Register Now!</h2>
                        <div class="marketo_embed"><iframe width="576" height="435" frameborder="0" style="margin: -10px 0 0 -260px;"  scrolling="no" src="http://info.skyhighnetworks.com/CloudDiscoveryAnalysisBestPractices_RegistrationPage.html"></iframe></div>
                   </div>
                </div>
				<div class="column">
					<p>From business agility and ease of use, enterprise employees use cloud services for a variety of reasons.  However, use of these services often comes with significant security, legal, and business risks, especially when they are procured and managed without IT’s involvement.</p>
					<p>Gartner predicts that a full 35% of IT spending will take place outside of IT by 2015.  Often referred to as “Shadow IT," low-cost subscription licenses and unknown apps are deployed, importing corporate data and integrating with other enterprise apps without IT having any involvement or even awareness.</p>
					<p><a href="">Download this whitepaper</a> to enlist a four step process for comprehensive cloud data security and help your organization safely deploy, use, and manage cloud services while still providing ease of use for your business units.</p>
					<h3>Skyhigh Cloud Access Security Manager Brochure</h3>
					<p>It takes just 3 easy steps to gain visibility and control over cloud services. <a href="">Download the datasheet</a> to better understand how your organization can:</p>
					<ul>
						<li>Gain a comprehensive view into cloud services in use across the organization and their risks</li>
						<li>Identify anomalous usage indicative of a security breach, data leakage, or high risk activity</li>
						<li>Enforce security policies across all cloud services including mobile-to-cloud activity</li>
					</ul>
					<h3>Skyhigh Secure Brochure</h3>
					<p>Skyhigh Secure is the only comprehensive solution for securing corporate data in the cloud. With Skyhigh Secure, IT organizations can enable lines of business to securely adopt cloud services by addressing cloud security risks.</p>
					<p><a href="">Download this datasheet</a> and learn how Skyhigh Secure can help your organization deploy a virtual “cloud edge” that consistently and transparently enforces security, privacy, and regulatory policies on corporate data stored in cloud services.</p>				
					<div class="socials">
					    <span title='Delicious' class='st_delicious_large' displayText='Delicious'></span>
				        <span title='Digg' class='st_diigo_large' displayText='Diigo'></span>
				        <span title='Facebook' class='st_facebook_large' displayText='Facebook'></span>
				        <span title='Twitter' class='st_twitter_large' displayText='Tweet'></span>
				        <span title='LinkedIn' class='st_linkedin_large' displayText='LinkedIn'></span>
				        <span title='Pinterest' class='st_pinterest_large' displayText='Pinterest'></span>
				        <span title='Google Plus' class='st_googleplus_large' displayText='Google +'></span>
				        <span title='Reddit' class='st_reddit_large' displayText='Reddit'></span>
				        <span title='StumbleUpon' class='st_stumbleupon_large' displayText='StumbleUpon'></span>
					</div>
				</div><!--/column-->
            </div><!--/content-->
        </div>
    </div>

{% endblock %}

{% block landing_footer %}

	<div class="footer">
	    <div class="container">
	        <p class="legal">Copyright &copy; 2013 Skyhigh Networks</p>
	        <p class="connect">
                <a href="http://www.facebook.com/pages/Skyhigh-Networks/179236572223050?ref=ts&fref=ts" class="fb">Skyhigh on Facebook</a>                
                <a href="https://twitter.com/SkyhighNetworks" class="tw">Skyhigh on Twitter</a>                
            </p>	        
	    </div>
	</div><!--/footer-->
        
{% endblock %}

{% block bottom_js %}
    {% include 'unobase/commenting/comment_script.html' %}
    <script type="text/javascript" src="http://w.sharethis.com/button/buttons.js"></script>
    <script type="text/javascript">stLight.options({publisher: "ed2330ac-a311-4a43-8879-41e85bd1a870", doNotHash: true, doNotCopy: true, hashAddressBar: false});</script>
{% endblock %}