{% extends 'base.html' %}
{% load unobase_tags blog_widgets %}

{% block title %}{{ object.title }} | {{ object.blog.title }}{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>{{ object.blog.title }}</h1>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <iframe src="http://resellerideas.com/skyhigh/" style="border:none;width:180px;min-height:240px;overflow:hidden;"></iframe>
                    {% include 'includes/sidebar.html' %}
                </div>
                <div class="column">
                    <div class="listing rich">
                        <h3>{{ object.title }}</h3>
                        {% if object.get_200x200_url %}
                        <img src="{{ object.get_200x200_url }}" class="image_thumb" />
                        {% endif %}
                        <p class="date">{{ object.publish_date_time|date:'j F Y' }}</p>
                        <p><strong>Author: <a href="https://plus.google.com/110164586728373813509/about" target="_blank" rel="publisher">{{ object.created_by.display_name }}</a></strong></p>
                        {{ object.content|safe }}
                        {% tag_list object %}

                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                            <a class="addthis_button_tweet"></a>
                            <a class="addthis_button_google_plusone"></a>
                            <a class="addthis_button_linkedin_counter"></a>
                            <a class="addthis_counter addthis_pill_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5233689f4475d309"></script>
                        <!-- AddThis Button END -->
                    </div>
                    <div class="back_to_list"><a href="{% url blog_detail object.blog.slug %}" class="btn btn_light">&laquo; Back To Blog</a></div>
                </div>
                <div class="column">
                    {% block comments %}
                        {% include 'unobase/commenting/comment_block.html' %}
                    {% endblock %}
                </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}

{% block bottom_js %}
    {% include 'unobase/commenting/comment_script.html' %}
{% endblock %}

{% block livechat %}{% endblock %}