{% extends 'base.html' %}
{% load unobase_tags blog_widgets %}

{% block title %}Cloud Adoption and Risk in 2013 | Skyhigh Networks{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Infographics</h1>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    <iframe src="http://resellerideas.com/skyhigh/" style="border:none;width:180px;min-height:240px;overflow:hidden;"></iframe>
                    {% include 'includes/sidebar.html' %}
                </div>
                <div class="column">
                    <div class="listing rich">
                        <h3>Cloud Adoption and Risk in 2013</h3>
                        <p class="date">25 September 2013</p>
                        
                        <p>Based on data from over 3 million enterprise users, Skyhigh presents the state of cloud usage in 2013. There are more services than every before the average company uses over 500 unique services, which presents a challenge to IT departments responsible for cloud security.  Our findings on policy enforcement show that organizations are flying blind when it comes to securing their data in the cloud.</p>
                        
                        <a href="{{ STATIC_URL }}skyhigh/img/infographic-cloud-adoption.jpg" target="_blank"><img src="{{ STATIC_URL }}skyhigh/img/infographic-cloud-adoption.jpg" alt="Cloud Adoption Infographic" style="max-width: 100%;" /></a>

						<br />
                        
						<h3>Share this Image On Your Site</h3>
                        <textarea onclick='this.focus();this.select()' style='width:100%;height:100px'><p><strong>Please include attribution to www.skyhighnetworks.com with this graphic.</strong><br /><br /><a href='http://www.skyhighnetworks.com/infographics/cloud-adoption-risk-2013/'><img src='http://www.skyhighnetworks.com/static/skyhigh/img/infographic-cloud-adoption.jpg' alt='Cloud Adoption and Risk in 2013' width='1000' height='4756' border='0' /></a></p></textarea>

						<br /><br />
                        
                        <!-- AddThis Button BEGIN -->
                        <div class="addthis_toolbox addthis_default_style ">
                            <a class="addthis_button_facebook_like" fb:like:layout="button_count"></a>
                            <a class="addthis_button_tweet"></a>
                            <a class="addthis_button_google_plusone"></a>
                            <a class="addthis_button_linkedin_counter"></a>
                            <a class="addthis_counter addthis_pill_style"></a>
                        </div>
                        <script type="text/javascript">var addthis_config = {"data_track_addressbar":true};</script>
                        <script type="text/javascript" src="//s7.addthis.com/js/300/addthis_widget.js#pubid=ra-5233689f4475d309"></script>
                        <!-- AddThis Button END -->

                        <br /><br />
                        
                        <div class="back_to_list"><a href="{% url resources_infographics %}" class="btn btn_light">&laquo; Back To Infographics</a></div>
                    </div>
                </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}

{% block livechat %}{% endblock %}