{% extends 'skyhigh/console/base.html' %}

{% block title %}- Blog{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div class="section">
        <div class="container console">
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Blog</h1>
            <div class="form">
                <form id="frmNewBlog" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.modified_by }}
                    {{ form.created_by }}

                    <div class="row">
                        <div class="field">
                            <label>Blog Image</label>
                            {% if form.object %}<img src="{{ form.object.get_120x120_url }}" class="edit_avatar" />{% endif %}
                            <div>{{ form.image }}{{ form.image.errors }}</div>
                            <div>{% if form.object %}Revert to default image{{ form.default_image }}{% endif %}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>Title</label>
                            <div>{{ form.title }}{{ form.title.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>Content</label>
                            <div class="clear"></div>
                            <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>State</label>
                            <div>{{ form.state }}{{ form.state.errors }}</div>
                        </div>
                        <div class="field field-half align-right">
                            <label>Tag this Blog <span>Separate tags with commas e.g.: "Tag 1, Tag 2, Tag 3".</span></label>
                            <div>{{ form.comma_seperated_tags }}{{ form.comma_seperated_tags.errors }}</div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Blog" class="btn" />
                    </div>
                
                    <div class="clear"></div>
                </form>
            </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}