{% extends 'email/base.html' %}

{% block content %}
Dear Cloud Service Provider,<br/>
<br/>
We offer an online Cloud Registry that lists a set of cloud services of interest to our customers. <b>Your service is one of the services in our registry</b>. For each service in our registry we gather publicly available information (e.g., if the service allows file sharing, supports encryption, etc.) and <b>compute an objective risk score</b> for the service.  Our customers use this risk score as an important criteria in deciding which service to use.  This information is also available from the web site of the Cloud Security Alliance (see https://cloudsecurityalliance.org/star/registry/).<br/>
<br/>
This email is to offer you the opportunity to review the attributes we have on your service and let us know if some attribute value should be changed.<br/>
<br/>
Your username is: {{ user.username }}<br/>
<br/>
You can click <a href="http://{{ site }}/secure/accounts/reset/{{ uid }}-{{ token }}/" style="font-family: Arial, Helvetica, sans-serif; font-size: 13px; color: #3399cc;">here</a> to reset your password and login to your Skyhigh Networks account and provide us feedback on your attribute values.<br/>
<br/>
To find out more about Skyhigh Networks, please see www.skyhighnetworks.com<br/>
<br/>
If you are not the correct person to receive this email, please forward this email to the appropriate individual.<br/>
{% endblock %}