{% extends 'skyhigh/console/base.html' %}

{% block title %}Career Application{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Career Application</h1>
            <a href="{% url console_usage_career_application_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="content">
                <table>
                    <tr>
                        <th width="80">User</th>
                        <td><a href="{% url console_usage_career_application_detail object.pk %}">{{ object.user.profile.first_name }} {{ object.user.profile.last_name }}</a></td>
                    </tr>
                    <tr>
                        <th width="120">Email</th>
                        <td>{{ object.user.email }}</td>
                    </tr>
                    <tr>
                        <th width="120">Role</th>
                        <td>{{ object.user.profile.get_role_display }}</td>
                    </tr>
                    <tr>
                        <th width="120">Login Date</th>
                        <td>{{ object.user.profile.last_login }}</td>
                    </tr>
                    <tr>
                        <th width="120">Resume</th>
                        <td>{% if object.cv_file %}<a href="{{ MEDIA_URL }}{{ object.cv_file }}">Download</a>{% else %}No resume attached{% endif %}</td>
                    </tr>
                    <tr>
                        <th width="120">Message</th>
                        <td>{{ object.message }}</td>
                    </tr>
                    <tr>
                        <th width="60"></th>
                        <td><a href="{% url console_usage_career_application_delete object.pk %}" class="link btn_light btn-delete">Delete</a></td>
                    </tr>
                </table>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}