{% extends 'base.html' %}

{% block title %}Evaluation Request{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Evaluation Request Already Submitted</h1>
            <h2>We already have received an evaluation request from you.</h2>
        </div>
    </div>
{% endblock %}