{% extends 'base.html' %}

{% block title %}Contact{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Contact</h1>
            <h2>We’d love to hear from you, so please contact us anytime.</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar_company.html' %}
                </div>
                <div class="column">
                    <div class="third">
                        <h3>Sales</h3>
                        <p>For sales-related inquiries, please email us at: <a href="mailto:sales@skyhighnetworks.com">sales@skyhighnetworks.com</a></p>
                    </div>
                    <div class="third">
                        <h3>Requests</h3>
                        <p>For information request, please email us at: <a href="mailto:info@skyhighnetworks.com">info@skyhighnetworks.com</a></p>
                    </div>
                    <div class="third">
                        <h3>Support</h3>
                        <p>For technical support, please email us at: <a href="mailto:support@skyhighnetworks.com">support@skyhighnetworks.com</a></p>
                    </div>
                    <div class="third">
                        <h3>Phone</h3>
                        <p>North America: +1.866.727.8383<br />Europe: +44.7802.175854<br />&nbsp;</p>
                    </div>
                    <div class="third">
                        <h3>Physical Address</h3>
                        <p>1601 S De Anza Blvd, Suite 248<br />Cupertino CA 95014<br />USA</p>
                    </div>
                    <div class="listing">
                        <h3>Map</h3>
                        <iframe width="670" height="400" frameborder="0" scrolling="no" marginheight="0" marginwidth="0" src="https://maps.google.com/maps?f=q&amp;source=s_q&amp;hl=en&amp;geocode=&amp;q=1601+S+De+Anza+Blvd,+Suite+248+Cupertino+CA+95014+USA&amp;sll=37.0625,-95.677068&amp;sspn=61.153041,129.550781&amp;ie=UTF8&amp;hq=&amp;hnear=1601+S+De+Anza+Blvd+%23248,+Cupertino,+Santa+Clara,+California+95014&amp;t=m&amp;z=14&amp;ll=37.295607,-122.032678&amp;output=embed&amp;iwloc=near"></iframe><br /><small><a href="https://maps.google.com/maps?f=q&amp;source=embed&amp;hl=en&amp;geocode=&amp;q=1601+S+De+Anza+Blvd,+Suite+248+Cupertino+CA+95014+USA&amp;sll=37.0625,-95.677068&amp;sspn=61.153041,129.550781&amp;ie=UTF8&amp;hq=&amp;hnear=1601+S+De+Anza+Blvd+%23248,+Cupertino,+Santa+Clara,+California+95014&amp;t=m&amp;z=14&amp;ll=37.295607,-122.032678&amp;iwloc=near" style="color:#0000FF;text-align:left">View Larger Map</a></small>
                    </div>
                </div>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}