{% extends 'base.html' %}

{% block title %}Information Request{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Information Request Submitted</h1>
            <h2>We have received your information request.</h2>
        </div>
    </div>
{% endblock %}