{% extends 'base.html' %}
{% load unobase_tags %}

{% block title %}Founders of Skyhigh Networks{% endblock %}
{% block meta_description %}Founded by senior entrepreneurs with more than two decades of experience in delivering game­-changing products and services. This page contains links to biographies of Skyhigh Networks executives.{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Leadership</h1>
            <h2>The Skyhigh Networks executive team is comprised of successful repeat entrepreneurs with a passion for delivering game changing products and services and a relentless focus on customer success.</h2>
            <div class="content">
                <div class="sidebar">
                    <div class="sidebar_top"></div>
                    <div class="sidebar_bottom"></div>
                    {% include 'includes/sidebar_company.html' %}
                </div>
                <div class="column">
                    <h3>Executive Management</h3>
                    <div class="listing">
                        <div class="image_lead">
                            <img src="{{ STATIC_URL }}skyhigh/img/rajiv.png" />
                            <p class="linkups"><a href="http://www.twitter.com/trustedmind" class="twitter" target="_blank"></a><a href="http://www.linkedin.com/pub/rajiv-gupta/0/13/915" class="linkedin" target="_blank"></a><a href="mailto:rajiv.gupta@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        <div class="listing_image_left">
                            <h3>Rajiv Gupta</h3>
                            <p><strong>Founder and CEO</strong></p>
                            <div class="desc">
                                <p>Rajiv Gupta is a Co-Founder and CEO of Skyhigh Networks. He has more than 20 years of successful enterprise software and security experience, and is widely recognized as a pioneer of Web Services. </p>
                                <p>Prior to founding Skyhigh, Rajiv was the VP/GM of the Policy Management Business Unit within Cisco where his team was responsible for products that enable customers to administer, enforce, and audit standards-based, consistent access policies across the IT stack. Rajiv’s team at Cisco delivered the Identity Services Engine, a product that won the coveted Pioneer Award in Cisco and is considered to be a game changer for Cisco.</p>
                                <p>Rajiv joined Cisco when it acquired Securent Inc, a company in the application entitlement market and where he was the Founder and CEO. Prior to Securent, he was a Co-Founder and CEO of Confluent Software, a company in the policy-based web-services management market and which was acquired by Oblix/Oracle. Before founding Confluent, Rajiv spent 11 years at Hewlett-Packard. In his last position there he was General Manager of the E-speak Division – a division he started in 1998 to bring the Client-Utility Computing technology to market that he and his team developed at HP Labs. E-speak delivered some of the earliest Web Services technologies and standards and has been inducted into the Smithsonian National Museum. Rajiv’s work on Client-Utility Computing was the precursor to Cloud Services as we know them today.</p>
                                <p>With more than 45 patents to his name, Rajiv is the inventor or co-inventor of some of the seminal concepts that underpin Web Services. Rajiv earned his Bachelor of Science in Computer Science from the Indian Institute of Technology and his PhD in Computer Science from the California Institute of Technology.</p>
                            </div>
                            <p><a href="javascript: void(0);" class="link leader_desc_show">Show More</a></p>
                        </div>
                    </div>
                    <div class="listing">
                        <div class="image_lead">
                            <img src="{{ STATIC_URL }}skyhigh/img/sekhar.png" />
                            <p class="linkups"><a href="http://www.linkedin.com/pub/sekhar-sarukkai/0/141/334" class="linkedin" target="_blank"></a><a href="mailto:sekhar@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        <div class="listing_image_left">
                            <h3>Sekhar Sarukkai</h3>
                            <p><strong>Co-Founder and VP of Engineering</strong></p>
                            <div class="desc">
                                <p>Sekhar Sarukkai is a Co-Founder and VP of Engineering at Skyhigh Networks, where he is responsible for engineering and operations.   He brings more than 20 years of experience in enterprise networking, security, and cloud services development.</p>
                                <p>Prior to founding Skyhigh Networks, Sekhar was a Sr. Director of Engineering at Cisco Systems responsible for delivering Cisco's market leading network access control products, including Cisco's Identity Services Engine.</p>
                                <p>He joined Cisco through Cisco's acquisition of Securent where he was a Co-Founder and CTO/VP Engineering. Prior to Securent, Sekhar was Founder and CTO/VP Engineering of Confluent Software, which was acquired by Oblix/Oracle. Sekhar also previously worked as a senior researcher at HP Labs where he was granted many patents in the areas of web services, parallel computing, caching, and one of the earliest patents on browsing the web using speech. He started his career at NASA Ames Research Center after obtaining his MS/PhD in Computer Science from Indiana University. In addition, he has worked as a graduate intern at IBM Watson Research Center.</p>
                                <p>Throughout his career Sekhar has been fortunate to have lead many initiatives that have resulted in recognitions including Infoworld Top 25 CTO award, Cisco Pioneer award, and Computerworld Honors Laureate award (and 21st century achievement award finalist) for his work on Micrograam.</p>
                            </div>
                            <p><a href="javascript: void(0);" class="link leader_desc_show">Show More</a></p>
                        </div>
                    </div>
                    <div class="listing">
                        <div class="image_lead">
                            <img src="{{ STATIC_URL }}skyhigh/img/kaushik.png" />
                            <p class="linkups"><a href="http://www.linkedin.com/pub/kaushik-narayan/1/4b3/a43" class="linkedin" target="_blank"></a><a href="mailto:kaushik@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        <div class="listing_image_left">
                            <h3>Kaushik Narayan</h3>
                            <p><strong>Co-Founder and Chief Architect</strong></p>
                            <div class="desc">
                                <p>Kaushik Narayan is a Co-Founder and Chief Architect at Skyhigh Networks, where he is responsible for Skyhigh's technology vision and software architecture.  He brings over 18 years of experience driving technology and architecture strategy for enterprise-class products.</p>
                                <p>Kaushik has been working in the network security and management space for sixteen years and large part of that at Cisco systems where his last stint was as the Principal Engineer responsible for the Identity Services Engine product, which won Cisco Pioneer Technology award. Kaushik helped drive key technology initiatives within Cisco in the areas of Policy Management, Cloud Centric Networking and Network Automation, he has filed several patents and also been active member at the IETF responsible for multiple RFCs.</p>
                                <p>Kaushik holds a Bachelor of Science in Electrical Engineering from Pune University and an MS in management Systems from BITS Pilani.</p>
                            </div>
                            <p><a href="javascript: void(0);" class="link leader_desc_show">Show More</a></p>
                        </div>
                    </div>
                    <div class="listing">
                        <div class="image_lead">
                            <img src="{{ STATIC_URL }}skyhigh/img/kamal.png" />
                            <p class="linkups"><a href="http://www.twitter.com/kdshah" class="twitter" target="_blank"></a><a href="http://www.linkedin.com/in/kdshah" class="linkedin" target="_blank"></a><a href="mailto:kamal@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        <div class="listing_image_left">
                            <h3>Kamal Shah</h3>
                            <p><strong>VP of Products and Marketing</strong></p>
                            <div class="desc">
                                <p>Kamal is VP, Products and Marketing, where he is responsible for product management, product marketing, demand generation and corporate marketing. Kamal brings over 20 years of experience identifying new markets, creating category-defining products that delight customers and building large businesses.</p>
                                <p>Prior to Skyhigh Networks, Kamal was part of the founding executive team at Clearwell Systems, a market-leading big data application for Legal and Information Security. Kamal led Products and Marketing at Clearwell and helped grow the company from $0M to $100 million run-rate in 5 years, until it was acquired by Symantec (SYMC) in 2011 for $410M.</p>
                                <p>Prior to Clearwell, Kamal was General Manager of the Customer Data Integration business unit at Siebel Systems (acquired by Oracle), where he played a key role in growing the business from inception to more than $75 million in revenue over three years, capturing leading market share.</p>
                                <p>He has also held product management positions at Asera, Trilogy Software and Palm Inc. Kamal began his career at Federal Express, where he joined as a developer and eventually led the team responsible for developing and launching new services and pricing strategies.</p>
                                <p>Kamal holds a Bachelor of Science in Computer Science from University of Memphis, where he graduated at age 19, and an MBA from Harvard Business School.</p>
                            </div>
                            <p><a href="javascript: void(0);" class="link leader_desc_show">Show More</a></p>
                        </div>
                    </div>
                    <h3>Board of Directors</h3>
                    <div class="listing no-bord">
                        <div class="quarter">
                            <p class="linkups"><strong>Asheem Chandna</strong><br />Greylock Partners<br /><img src="{{ STATIC_URL }}skyhigh/img/asheem.png" /><br /><a href="https://twitter.com/chandna" class="twitter" target="_blank"></a><a href="http://www.linkedin.com/in/chandna" class="linkedin" target="_blank"></a></p>
                        </div>
                        <div class="quarter">
                            <p class="linkups"><strong>Aaref Hilaly</strong><br />Sequoia Capital<br /><img src="{{ STATIC_URL }}skyhigh/img/aaref.png" /><br /><a href="http://www.twitter.com/aaref" class="twitter" target="_blank"></a><a href="http://www.linkedin.com/pub/aaref-hilaly/0/64/472" class="linkedin" target="_blank"></a></p>
                        </div>
                        <div class="quarter">
                            <p class="linkups"><strong>Rajiv Gupta</strong><br />Skyhigh Networks<br /><img src="{{ STATIC_URL }}skyhigh/img/rajiv.png" /><br /><a href="http://www.twitter.com/trustedmind" class="twitter" target="_blank"></a><a href="http://www.linkedin.com/pub/rajiv-gupta/0/13/915" class="linkedin" target="_blank"></a><a href="mailto:rajiv.gupta@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        <div class="quarter no-pad">
                            <p class="linkups"><strong>Sekhar Sarukkai</strong><br />Skyhigh Networks<br /><img src="{{ STATIC_URL }}skyhigh/img/sekhar.png" /><br /><a href="http://www.linkedin.com/pub/sekhar-sarukkai/0/141/334" class="linkedin" target="_blank"></a><a href="mailto:sekhar@skyhighnetworks.com" class="email" target="_blank"></a></p>
                        </div>
                        
                        
                        
                    </div>

{% comment %}
	                {% for object in object_list %}
                        <div class="listing">
                            {% if object.get_202x126_url %}
                            <a href="{% url company_leadership_detail object.pk %}"><img src="{{ object.get_202x126_url }}" class="image_third" /></a>
                            {% endif %}
                            <div class="listing_image_left">
                                <h3>{{ object.title }}</h3>
                                <p><strong>{{ object.job_title }}</strong></p>
                                <div class="desc">{{ object.content|safe }}</div>
                                <p class="linkups"><a href="#" class="facebook"></a><a href="#" class="twitter"></a><a href="#" class="email"></a></p>
                                <p><a href="javascript: void(0);" class="link leader_desc_show">Show More</a></p>
                            </div>
                        </div>
                    {% empty %}
                        <p>There are no leaders to display.</p>
                    {% endfor %}
                </div>
                {% pagination page_obj %}
{% endcomment %}
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}