{% extends 'skyhigh/console/base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div class="section">
        <div class="container console">
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Event</h1>
            <a href="{% url console_news_and_events_event_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="form">
                <form id="frmNewEvent" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.modified_by }}
                    {{ form.created_by }}

                    <div class="row">
                        <div class="field edit-image">
                            {% if form.object %}
                                <label>Current Image</label>
                                <img src="{{ form.object.get_120x120_url }}" />
                            {% endif %}
                            <input id="image_choice_new" type="radio" name="image_choice" checked="checked" value="new" > New Image
                            <div class="revert">{{ form.image }}{{ form.image.errors }}</div>
                            <div class="revert"><label>Image name</label><div>{{ form.image_name }}{{ form.image_name.errors }}</div></div>
                        </div>
                    </div>

                    {% if form.existing_images %}
                        <div class="row">
                            <div class="field edit-image">
                                <label>Choose an existing image</label>
                                <img id="image_choice_existing_preview" src="{{ form.object.get_120x120_url }}" />
                                <input id="image_choice_existing" type="radio" name="image_choice" value="existing" > Existing Image
                                <div class="revert">{{ form.existing_image }}{{ form.existing_image.errors }}</div>
                                <div class="revert">{% if form.object %}Revert to default image{{ form.default_image }}{% endif %}</div>
                            </div>
                        </div>
                    {% endif %}

                    <div class="row">
                        <div class="field field-half">
                            <label>Title</label>
                            <div>{{ form.title }}{{ form.title.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>Content</label>
                            <div class="clear"></div>
                            <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>Start Date</label>
                            <div>{{ form.start_date }}{{ form.start_date.errors }}</div>
                        </div>
                        <div class="field field-half align-right">
                            <label>Start Time<span>Enter in this format: "hh:mm:ss"</span></label>
                            <div>{{ form.start_time }}{{ form.start_time.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>End Date</label>
                            <div>{{ form.end_date }}{{ form.end_date.errors }}</div>
                        </div>
                        <div class="field field-half align-right">
                            <label>End Time <span>Enter in this format: "hh:mm:ss"</span></label>
                            <div>{{ form.end_time }}{{ form.end_time.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>External Link</label>
                            <div>{{ form.external_link }}{{ form.external_link.errors }}</div>
                        </div>
                        <div class="field field-half align-right">
                            <label>Tags <span>Separate tags with commas e.g: "Tag 1, Tag 2, Tag 3".</span></label>
                            <div>{{ form.comma_seperated_tags }}{{ form.comma_seperated_tags.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>State</label>
                            <div>{{ form.state }}{{ form.state.errors }}</div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Event" class="btn" />
                    </div>
                
                    <div class="clear"></div>
                </form>
            </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}