{% extends 'base.html' %}

{% block title %}Page Not Found{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Page Not Found</h1>
            <h2>Unfortunately we cannot find the page you are looking for.</h2>
            <div class="content center">
                <h3>Our engineers have been notified, please try these options below:</h3>
                <ul class="nolist">
                	<li><a href="/">Back to the Homepage</a></li>
                	<li><a href="/product/evaluation/">Try out a demo</a></li>
                	<li><a href="/company/contact/">Contact Skyhigh Networks</a></li>
                </ul>
                <h3>Alternatively, use the links below in the footer to navigate our site.</h3>
                <p>We apologize for the inconvenience.</p>
                <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}