<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Skyhigh Networks | Cloud Service Usage Monitoring</title>
    <meta name="viewport" content="width=device-width">
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <style type="text/css">
    	html, button, input, select, textarea { font-family: 'Open Sans', 'Lucida Grande', 'Arial', sans-serif; color: #333; outline: none!important; }
    	html, body { margin: 0; background: #2A4666; }

    	#wrap { width: 500px; height: 310px; margin: 40px auto; padding: 20px; text-align: center; background: #fff; border-radius: 15px; }
    	#wrap img { padding: 20px 0 10px 0; }
    	h1 { font-size: 32px; font-weight: normal; color: #2a4666; text-align: center; padding: 0; margin: 0 0 30px 0; }

    </style>
</head>
<body>

	<div id="wrap">

		<img src="{{ STATIC_URL }}skyhigh/img/logo.png" />
		<h1>Internal Server Error</h1>
		<p>Something went very wrong,<br />and our engineers have already been notified.</p>
		<p>We apologize for the inconvenience</p>
		<p>Please visit us again in a few minutes.</p>

	</div>

</body>
</html>
