<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
	<meta name="google-site-verification" content="XyoOp9uELSXm4MRw2ioCa5jFEK0LElVmBD6l7d9efqY" />
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{% block title %}Cloud and IT Networking Services &ndash; ­Skyhigh Networks{% endblock %}</title>
    <meta name="description" content="{% block meta_description %}{% include 'includes/meta_description.html' %}{% endblock %}" />
    <meta name="keywords" content="{% block meta_keywords %}{% include 'includes/meta_keywords.html' %}{% endblock %}" />
    <meta name="author" content="Unomena - http://unomena.com" />
    <meta name="viewport" content="width=device-width">
    <link rel="publisher" href="https://plus.google.com/110164586728373813509">
    <link rel="shortcut icon" href="{{ STATIC_URL }}skyhigh/img/favicon.ico">
    <link rel="stylesheet" href="{{ STATIC_URL }}skyhigh/css/styling.css?v=39">
    <link rel="stylesheet" href="{{ STATIC_URL }}skyhigh/css/promo.css?v=22">
    <link rel="stylesheet" href="{{ STATIC_URL }}skyhigh/css/colorbox.css">
    <link rel="stylesheet" href="{{ STATIC_URL }}skyhigh/css/chosen.css?v=2">
    <link href='//fonts.googleapis.com/css?family=Open+Sans:400,600,700' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Oswald:300' rel='stylesheet' type='text/css'>
    <script src="{{ STATIC_URL }}skyhigh/js/libs/modernizr-2.5.3.min.js"></script>
	{% block console_js %}{% endblock %}
</head>
<body>
<div id="wrap" {% block landing_class %}{% endblock %}>

    <div id="header">
	   {% block header %}
	        <div class="container">
	            <a href="/" class="logo">Skyhigh Networks | Cloud Usage Monitoring</a>
	            <div class="interact">
	            	{% comment %}
	                <div class="search">
	                    <form id="frmSearch" action="{% url search %}">
	                        <p class="searchterm"><input type="text" id="id_searchterm" value="Search..."  onfocus="if (this.value == 'Search...') {this.value = '';}" onblur="if (this.value == '') {this.value = 'Search...';}"></p>
	                        <p class="button"><input type="submit" id="submit"></p>
	                    </form>
	                </div>
	                {% endcomment %}
	                <div class="actions">
	                    {% if not user.is_authenticated %}
{% comment %}
		                    <a href="{% url secure_login %}" class="no-bord-left">Sign In</a>
{% endcomment %}
		                    <a href="http://blog.skyhighnetworks.com/" class="no-bord-left">Skyhigh Blog</a>
		                    <a href="{% url company_contact %}">Contact Us</a>
		                    <a href="https://www.myshn.net/" target="_blank">Login</a>
	                    {% else %}
	                     	<a href="http://blog.skyhighnetworks.com/" class="no-bord-left">Skyhigh Blog</a>
	                        <a href="{% url auth_logout %}">Sign Out</a>
{% comment %}
	                        <a href="{% url my_profile %}">My Profile</a>
{% endcomment %}
	                        {% block console_link %}
	                            {% if user.profile.is_admin %}
	                                <a href="{% url console_index %}" class="console_link">Console</a>
	                            {% endif %}
	                        {% endblock %}
	                    {% endif %}
	                </div>
	                <div class="social">
	                    <a rel="publisher" href="http://www.facebook.com/pages/Skyhigh-Networks/179236572223050?ref=ts&fref=ts" class="facebook" target="_blank"></a>
	                    <a rel="publisher" href="https://plus.google.com/110164586728373813509" class="gplus" target="_blank"></a>
	                    <a rel="publisher" href="https://twitter.com/SkyhighNetworks" class="twitter" target="_blank"></a>
	                    <a rel="publisher" href="http://www.linkedin.com/company/skyhigh-networks" class="linkedin" target="_blank"></a>
	                </div>
	            </div>
	        </div>
	        <a href="javascript: void(0);" class="mobile_handle"></a>
	   {% endblock %}
	</div><!--/Header-->
    
    {% block landing_nav %}
	    <div id="nav">
		   {% block nav %}
		        <div class="container">
		            <ul>
		                <li><a href="{% url rethink_cloud %}" class="no_sub">Rethink Cloud</a></li>
		                <li>
		                	<a href="{% url product_tour %}">Product</a>
		                	<ul>
		                		<li><a href="{% url product_tour %}">Skyhigh Tour</a></li>
		                		<li><a href="{% url product_overview %}">Product Overview</a></li>
		                		<li><a href="{% url product_overview_shadow_it %}">&nbsp;&nbsp;&nbsp;Skyhigh Discover</a></li>
		                		<li><a href="{% url product_overview_saas_security %}">&nbsp;&nbsp;&nbsp;Skyhigh Analyze</a></li>
		                		<li><a href="{% url product_overview_cloud_control %}">&nbsp;&nbsp;&nbsp;Skyhigh Secure</a></li>
<!--							<li class="has_sub">
                                    <a href="#">Solutions</a>
                                    <ul>
                                        <li><a href="{% url product_solutions_cloud_encryption %}">Cloud Encryption</a></li>
                                        <li><a href="{% url product_solutions_data_loss_prevention %}">Data Loss Prevention</a></li>
                                        <li><a href="{% url product_solutions_security %}">Security</a></li>
                                        <li><a href="{% url product_solutions_governance %}">Governance</a></li>
                                        <li><a href="{% url product_solutions_compliance %}">Compliance</a></li>
                                    </ul>
                                </li>-->
		                		<li><a href="{% url product_evaluation %}">Try Skyhigh</a></li>
		                	</ul>
		                </li>
		                <li><a href="{% url product_case_studies %}" class="no_sub">Customers</a></li>
		                <li><a href="{% url resources %}" class="no_sub">Resources</a></li>
		                <li>
		                	<a href="{% url partners_overview %}">Partners</a>
		                	<ul>
		                		<li><a href="{% url partners_apply_csp %}">Cloud Service Providers</a></li>
		                		<li><a href="{% url partners_apply_channel %}">Resellers &amp; Distributors</a></li>
		                		<li><a href="{% url partners_apply_technology %}">Technology Partners</a></li>
	                		    {% if user.profile.is_partner %}
			                		<li><a href="{% url partners_resources %}">Partner Resources</a></li>
		                		{% endif %}
	                        </ul>
		                </li>
		                {% comment %}
		                <li>
		                	<a href="{% url support_overview %}">Support</a>
		                	<ul>
		                		<li><a href="{% url support_overview %}">Overview</a></li>
		                		<li><a href="{% url support_faq %}">FAQ's</a></li>
		                		<li><a href="{% url forum_detail 'support' %}">Forum</a></li>
		                		<li><a href="{% url support_case_create %}">Submit a Case</a></li>
		                	</ul>
		                </li>
		                {% endcomment %}
		                <li>
		                	<a href="{% url company_overview %}">Company</a>
		                	<ul>
		                		<li><a href="{% url company_leadership %}">Leadership</a></li>
		                		<li><a href="{% url company_investors %}">Investors</a></li>
		                		<li><a href="{% url company_careers %}">Careers</a></li>
	                            <li class="has_sub">
	                                <a href="{% url media_overview %}">News &amp; Events</a>
	                                <ul>
	                                    <li><a href="{% url media_events %}">Events</a></li>
	                                    <li><a href="{% url media_coverage %}">Media Coverage</a></li>
	                                    <li><a href="{% url media_press_releases %}">Press Releases</a></li>
	                                    <li><a href="http://blog.skyhighnetworks.com">Skyhigh Blog</a></li>
	                                    {% comment %}<li><a href="{% url blog_detail 'engineering-blog' %}">Engineering Blog</a></li>{% endcomment %}
	                                </ul>
	                            </li>
		                		<li><a href="{% url company_contact %}">Contact</a></li>
		                	</ul>
		                </li>
		            </ul>
		            <a href="{% url product_evaluation %}" class="btn try">Free Cloud Risk<br /> Assessment</a>
		        </div>
		   {% endblock %}
		</div><!--/Nav-->
	{% endblock %}
   
    <div id="messages">
        {% block messages %}
        {% endblock %}
    </div>

    <div class="clear"></div>
    
    <div id="main">
        {% block content %}{% endblock %}
        <div class="clear"></div>
    </div><!--/Main-->

    <div class="clear"></div>

</div><!--/Wrap-->

{% block landing_footer %}
	<div id="footer">
	    {% block footer %}
		    <div class="menu">
		        <div class="container">
		            <div class="social">
		                <p class="connect">
		                    <a rel="publisher" href="http://www.facebook.com/pages/Skyhigh-Networks/179236572223050?ref=ts&fref=ts" class="fb" target="_blank">Skyhigh on Facebook</a>
		                    <a rel="publisher" href="https://plus.google.com/110164586728373813509" class="gplus" target="_blank">Skyhigh on Google+</a>
		                    <a rel="publisher" href="https://twitter.com/SkyhighNetworks" class="tw" target="_blank">Skyhigh on Twitter</a>
		                    <!--<a href="#" class="lin">Skyhigh on LinkedIn</a>-->
		                </p>
		                <p class="terms"><a href="{% url enterprise_grade %}">Enterprise Grade</a><a href="/terms/">Terms of Use</a><a href="/privacy/">Privacy</a></p>
		            </div>
		        </div>
		        <div class="clear"></div>
		    </div><!--/menu-->
		    <div class="base">
		        <div class="container">
		            <p class="legal">Copyright &copy; 2013 Skyhigh Networks</p>
		            {% comment %} <p class="credits">Created by <a href="http://unomena.com/" target="_blank">Unomena</a></p> {% endcomment %}
		        </div>
		    </div><!--/base-->
		{% endblock %}
		<div class="clear"></div>
	</div><!--/Footer-->
{% endblock %}

<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery-1.7.2.min.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.anythingslider.min.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.form.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.formset.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.validate.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/datepicker.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.colorbox.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/jquery.chosen.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/libs/twitmarquee.js"></script>
<script src="{{ STATIC_URL }}skyhigh/js/scripting.js?v=20"></script>
{% block bottom_js %}{% endblock %}
<script type="text/javascript">
document.write(unescape("%3Cscript src='" + document.location.protocol +
  "//munchkin.marketo.net/munchkin.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script>Munchkin.init('274-AUP-214');</script>
<script type="text/javascript">
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-38819612-1']);
  _gaq.push(['_trackPageview']);
  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();
</script>
<script type="text/javascript" language="javascript">llactid=23906</script> 
<script type="text/javascript" language="javascript" src="//t4.trackalyzer.com/trackalyze.js"></script>

<!-- Default Insight Tag -->
<script type="text/javascript">  var _bizo_data_partner_id = "4803";
</script>
<script type="text/javascript">
    (function() {  var s = document.getElementsByTagName("script")[0];  var b = document.createElement("script");  b.type = "text/javascript";  b.async = true;  b.src = (window.location.protocol === "https:" ? "https://sjs" : "http://js") + ".bizographics.com/insight.min.js";  s.parentNode.insertBefore(b, s);})();
</script>
<noscript>
    <img height="1" width="1" alt="" style="display:none;" src="//www.bizographics.com/collect/?pid=4803&fmt=gif" />
</noscript>

{% block extra_tracking_js %}{% endblock %}

{% block livechat %}
<!--
<script type="text/javascript">
var __lc = {};
__lc.license = 3147152;

(function() {
    var lc = document.createElement('script'); lc.type = 'text/javascript'; lc.async = true;
    lc.src = ('https:' == document.location.protocol ? 'https://' : 'http://') + 'cdn.livechatinc.com/tracking.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(lc, s);
})();
</script>
-->
<!--BEGIN LivePerson Monitor. -->
<script type="text/javascript">
    window.lpTag=window.lpTag||{};if(typeof window.lpTag._tagCount==='undefined'){window.lpTag={site:'90696461',section:lpTag.section||'',autoStart:lpTag.autoStart===false?false:true,ovr:lpTag.ovr||{},_v:'1.5.1',_tagCount:1,protocol:location.protocol,events:{bind:function(app,ev,fn){lpTag.defer(function(){lpTag.events.bind(app,ev,fn)},0)},trigger:function(app,ev,json){lpTag.defer(function(){lpTag.events.trigger(app,ev,json)},1)}},defer:function(fn,fnType){if(fnType==0){this._defB=this._defB||[];this._defB.push(fn)}else if(fnType==1){this._defT=this._defT||[];this._defT.push(fn)}else{this._defL=this._defL||[];this._defL.push(fn)}},load:function(src,chr,id){var t=this;setTimeout(function(){t._load(src,chr,id)},0)},_load:function(src,chr,id){var url=src;if(!src){url=this.protocol+'//'+((this.ovr&&this.ovr.domain)?this.ovr.domain:'lptag.liveperson.net')+'/tag/tag.js?site='+this.site}var s=document.createElement('script');s.setAttribute('charset',chr?chr:'UTF-8');if(id){s.setAttribute('id',id)}s.setAttribute('src',url);document.getElementsByTagName('head').item(0).appendChild(s)},init:function(){this._timing=this._timing||{};this._timing.start=(new Date()).getTime();var that=this;if(window.attachEvent){window.attachEvent('onload',function(){that._domReady('domReady')})}else{window.addEventListener('DOMContentLoaded',function(){that._domReady('contReady')},false);window.addEventListener('load',function(){that._domReady('domReady')},false)}if(typeof(window._lptStop)=='undefined'){this.load()}},start:function(){this.autoStart=true},_domReady:function(n){if(!this.isDom){this.isDom=true;this.events.trigger('LPT','DOM_READY',{t:n})}this._timing[n]=(new Date()).getTime()},vars:lpTag.vars||[],dbs:lpTag.dbs||[],ctn:lpTag.ctn||[],sdes:lpTag.sdes||[],ev:lpTag.ev||[]};lpTag.init()}else{window.lpTag._tagCount+=1}
</script>
<!--END LivePerson Monitor. -->
{% endblock %}
</body>
</html>
