{% extends 'skyhigh/console/base.html' %}

{% block title %}Configurable Emails{% endblock %}

{% block content %}
<script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
<div class="section">
    <div class="container console">
        <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Configurable Email</h1>
        <a href="{% url console_usage_configurable_email_list %}" class="link btn_light console-btn">Back To List</a>
        
        <div class="form">
            <form id="frmConfigurableEmail" action="." method="POST" enctype="multipart/form-data">
                {% csrf_token %}
                
                {% if form.instance.send_reason %}
	                <div class="row">
	                	<h3>Reason for sending</h3>
	                    {{ form.instance.send_reason }}
	                </div>
                {% endif %}

                <div class="row">
                    <div class="field">
                        <label>Title</label>
                        <div>{{ form.title }}{{ form.title.errors }}</div>
                    </div>
                </div>
                
                {% if form.instance.id and form.instance.variables.count > 0 %}
                	<div class="row">
			        	<h3>These are the template variables you may use</h3>
			        	
			        	<table>
			        		{% for variable in form.instance.variables.all %}
			        			<tr>
				        			<td>{% templatetag openvariable %} {{ variable.name }} {% templatetag closevariable %}</td>
				        			<td>{{ variable.description }}</td>
				        		</tr>
			        		{% endfor %}
			        	</table>
		        	</div>
		       	{% endif %}
                
                <div class="row">
                    <div class="field">
                        <label>Subject</label>
                        <div>{{ form.subject }}{{ form.subject.errors }}</div>
                    </div>
                </div>

                <div class="row">
                    <div class="field">
                        <label>Content</label>
                        <div class="clear"></div>
                        <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="field">
                        <label>Plaintext Content</label>
                        <div class="clear"></div>
                        <div class="editor">{{ form.plaintext_content }}{{ form.plaintext_content.errors }}</div>
                    </div>
                </div>
                
                <div class="row">
                    <div class="field">
                        <label>Internal BCCs</label>
                        <div class="clear"></div>
                        <div class="editor">{{ form.internal_bccs }}{{ form.internal_bccs.errors }}</div>
                    </div>
                </div>

                <div class="buttons">
                    <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Configurable Email" class="mini" />
                </div>

                <div class="clear"></div>
            </form>
        </div>
    </div><!--/content-->
    <div class="clear"></div>
</div>
</div>
{% endblock %}