{% extends 'skyhigh/console/base.html' %}

{% block title %}Evaluation Approval{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Pending Evaluator</h1>
            <a href="{% url console_approvals_evaluation %}" class="link btn_light console-btn">Back To List</a>
            <div class="content">
                <table>
                    <tr>
                        <th width="80">Evaluator</th>
                        <td>{{ object.user.first_name }} {{ object.user.last_name }}</td>
                    </tr>
                    <tr>
                        <th width="120">Email</th>
                        <td>{{ object.user.email }}</td>
                    </tr>
                    <tr>
                        <th width="120">Role</th>
                        <td>{{ object.user.profile.get_role_display }}</td>
                    </tr>
                    <tr>
                        <th width="120">Login Date</th>
                        <td>{{ object.user.last_login }}</td>
                    </tr>
                </table>
                
                {% include 'skyhigh/console/includes/evaluation_log_file_sample.html' with object=object.user.profile %}
            </div><!--/content-->
        </div>
    </div>
{% endblock %}