{% extends 'skyhigh/console/base.html' %}

{% block title %}Career List{% endblock %}

{% block content %}
    <div class="section">
        <div class="container console">
            <h1>Career List</h1>
            <a href="{% url console_usage_career_create %}" class="link btn_light console-btn">Add a Career</a>
            <div class="column column_full">
                <div class="listing listing_full">
                    <table>
                        <tr>
                            <thead>
                                <th width="80">State:</th>
                                <th width="80">Title</th>
                                <th width="80">Position</th>
                                <th width="60"></th>
                            </thead>
                        </tr>
                        {% for object in object_list %}
                            <tr onclick="DoNav('{% url console_usage_career_detail object.pk %}');">
                                <td>{{ object.get_state_display }}</td>
                                <td><a href="{% url console_usage_career_detail object.pk %}">{{ object.title }}</a></td>
                                <td>{{ object.position }}</td>
                                <td><a href="{% url console_usage_career_update object.pk %}" class="link">Edit</a><br /><a href="{% url console_usage_career_delete object.pk %}" class="link">Delete</a></td>
                            </tr>
                        {% empty %}
                        <tr>
                            <td colspan="4">Sorry, there are no items to list</td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
            </div>
            <div class="clear"></div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}