{% extends 'skyhigh/console/base.html' %}

{% block title %}Events{% endblock %}

{% block content %}
    <script type="text/javascript" src="{{ STATIC_URL }}ckeditor/ckeditor/ckeditor.js"></script>
    <div class="section">
        <div class="container console">
            <h1>{% if form.instance.id %}Edit{% else %}Add{% endif %} Career</h1>
            <a href="{% url console_usage_career_list %}" class="link btn_light console-btn">Back To List</a>
            <div class="form">
                <form id="frmNewCareer" action="." method="POST" enctype="multipart/form-data">
                    {% csrf_token %}
                    {{ form.modified_by }}
                    {{ form.created_by }}

                    <div class="row">
                        <div class="field field-half">
                            <label>Title</label>
                            <div>{{ form.title }}{{ form.title.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field">
                            <label>Content</label>
                            <div class="clear"></div>
                            <div class="editor">{{ form.content }}{{ form.content.errors }}</div>
                        </div>
                    </div>

                    <div class="row">
                        <div class="field field-half">
                            <label>Position</label>
                            <div class="clear"></div>
                            <div class="editor">{{ form.position }}{{ form.position.errors }}</div>
                        </div>
                        <div class="field field-half align-right">
                            <label>State</label>
                            <div>{{ form.state }}{{ form.state.errors }}</div>
                        </div>
                    </div>

                    <div class="buttons">
                        <input type="submit" id="submit" value="{% if not form.instance.id %}Create{% else %}Update{% endif %} Career" class="btn" />
                    </div>
                
                    <div class="clear"></div>
                </form>
            </div>
            </div><!--/content-->
        </div>
    </div>
{% endblock %}