{% extends 'base.html' %}

{% block title %}Career Application{% endblock %}

{% block content %}
    <div class="section">
        <div class="container">
            <h1>Career Application Already Submitted</h1>
            <h2>We already have received a career application from you.</h2>
        </div>
    </div>
{% endblock %}