{% load honeypot %}

{% if user.is_authenticated and not user.profile.newsletter_recipient or not user.is_authenticated %}
    <div class="widget">
        <h3>Skyhigh Newsletter</h3>
        {% if not user.is_authenticated %}
            <p>Enter your email address below to join the Skyhigh Newsletter.</p>
        {% endif %}
        <form id="frmNewsletter" class="newsletter" action="{% if secure %}{% url secure_newsletter_signup %}{% else %}{% url newsletter_signup %}{% endif %}" method="post">
            {% csrf_token %}
            {% if not user.is_authenticated %}
                <div class="field">{{ form.newsletter_email }}</div>
                {% render_honeypot_field %}
            {% endif %}
            <div class="buttons">
                <input type="submit" id="submit" value="Sign Up" class="btn" />
            </div>
        </form>
        <div class="clear"></div>
    </div>
{% endif %}