{% if objects %}
<div class="blogs">
    <h3>Recent Blog Posts</h3>
    {% for object in objects %}
    <div class="item">
        <p class="date">{{ object.publish_date_time|date:'j F Y' }}</p>
        <p class="desc">{{ object.title }}</p>
        <a href="{% url blog_entry_detail object.slug %}">Read more</a>
    </div>
    {% endfor %}
</div>
{% endif %}