{% if objects %}
<div class="events">
    <h3>Upcoming Events</h3>
    {% for object in objects %}
    <div class="item">
        <p class="date">{{ object.created|date:'j F Y' }}</p>
        <p class="desc">{{ object.title }}</p>
        <p class="date">{{ object.start_date }}{% if object.end_date %} - {{ object.end_date }}{% endif %}</p>
        {% if object.external_link %}
            <a href="{{ object.external_link }}" target="_blank">Learn More</a>
        {% endif %}
    </div>
    {% endfor %}
</div>
{% endif %}